[2020-06-15 15:08] aprilcurrier commented on #200
This is ready for deployment

[2020-06-15 15:13] maurya opened #247 "OCL import portal MVP"
MVP - upload and show results

- [x] 1. Should be able to load json and csv file
- [x] 2. Implement the `GET` status in Javascript with a sample task id - as working previously
- [x] 3. Should be able to display an error or success summary on the page with the sample task id
- [x] 3.1 Should have a status section in the HTML
- [x] 3.2 Should parse the JSON Response and display in the status sectio

[2020-06-15 15:16] aprilcurrier opened #248 "Begin scoping for FHIR TS Work"
Will include mapping between OCL and FHIR

[2020-06-15 15:17] aprilcurrier commented on #248
Will also determine what the epics under the FHIR project are

[2020-06-15 15:20] aprilcurrier commented on #244
Duplicate

[2020-06-15 15:20] #244 closed

[2020-06-15 15:20] aprilcurrier commented on #246
https://github.com/OpenConceptLab/ocl_issues/issues/244#issue-636472734

[2020-06-15 15:20] aprilcurrier commented on #246
This operation currently can only be completed with a direct OCL API response. This would allow it to be a line in a bulk import script as well. For example:
[code]

[2020-06-15 15:24] aprilcurrier opened #249 "Removing MSP from OCL Prod"
Need to wait for gov approvals

[2020-06-15 15:26] aprilcurrier commented on #249
Maurya to coordinate with Rafal  to get instructions on this to build future capacity

[2020-06-15 15:29] aprilcurrier commented on #249
@rkorytkowski  will you please provide documentation on this process and @maurya  and @harpatel1  will complete.

[2020-06-15 15:29] maurya opened #250 "OCL File Import MVP 2.0"
- Should show status of import - started/processing, imported, error
- Should poll for the import status using the bulk import id to check if import is successful
 - Should have basic unit testing for functionality
- Should document user documentation of functionality in github repo

[2020-06-16 19:37] paynejd opened #251 "collectionType filter uses an incorrect parameter and returns global search results for an org"
The Collection type filter should be `collectionType` (not `collection_type`). This filter appears to work correctly for global search (eg `/collections/`). However, it incorrectly returns global search results when a filter is added to the collections within a specific owner. For example, this correctly returns 193 collections within the PEPFAR-Test7 org:
[code]
However, when I add the `collectio

[2020-06-17 12:56] paynejd commented on #251
also see #135 - these seem like related tickets

[2020-06-22 14:05] maurya commented on #114
This is a ticket identifiedas needed for MOH.

[2020-06-24 08:52] Karuhanga commented on #242
Agreed on the ocldev call(18th June) to _for now_ limit this to just making sure the seeded data on demo and qa has the correct source types.

https://docs.google.com/spreadsheets/d/11T9g6iCkDLOhdjrzzYalwCTVcta4_r6OPfRWNVWAQCA/edit#gid=987322458

[2020-06-24 13:59] Karuhanga commented on #69
This seems to be a breaking change @paynejd. Does this mean an `id` is required going forward?

[2020-06-24 14:22] Karuhanga commented on #242
** how will this be done in staging and prod?

[2020-06-24 15:07] Karuhanga commented on #176
My bad. Just been informed this was fixed.

[2020-06-24 15:07] #176 closed

[2020-06-24 16:00] #249 closed

[2020-06-24 19:14] paynejd commented on #69
@Karuhanga IDs for mappings will still be optional. If you do not provide an ID, the behavior is the same as it used to be. Moving forward, though, you will optionally be able to provide an ID for a mapping. This should not break any existing functionality.

[2020-06-24 20:10] paynejd commented on #69
Update: Pulling back this commit as it was implemented in a way that IDs are now required. This will be revised so that a mapping ID is auto-generated the same way it has been if no ID is provided. If an ID is provided, the API will verify that it is unique within the source and utilize that instead.

@harpatel1 please provide an update here on progress to pull back this change and resolve. thanks

[2020-06-25 13:07] aprilcurrier commented on #39
Has been deployed to all environments

[2020-06-25 13:07] #39 closed

[2020-06-25 13:09] aprilcurrier commented on #243
Still in progress. Fixing the delete method as a first step.  Anticipated completion of 6/26.
 Est 40% complete as of rollover

[2020-06-25 13:10] aprilcurrier commented on #243
@rkorytkowski  to describe solution in ticket

[2020-06-25 13:11] aprilcurrier commented on #210
Has been postponed due to data integration issues.

[2020-06-25 13:14] aprilcurrier commented on #200
Deployed to all environments

[2020-06-25 13:14] #200 closed

[2020-06-25 13:16] jamlung-ri opened #252 "API Feature Request: "fields=" parameter"
In another API (DATIM, specifically), we can specify which fields we want to receive from the API, which reduces the size of the results of the API. This would be somewhat helpful in OCL's API so we can only get a small portion of the available fields from OCL and improve performance of the MSP/Metadata Browser.

For example, the API query `https://api.staging.openconceptlab.org/orgs/PEPFAR-Test8/

[2020-06-25 13:17] aprilcurrier commented on #214
Currently experiencing a space issue @rkorytkowski to reach out to OpenMRS infrastructure team.

[2020-06-25 13:24] aprilcurrier commented on #220
@Karuhanga  Any update on the status?

[2020-06-25 13:25] aprilcurrier commented on #246
90% complete at rollover

[2020-06-25 13:27] aprilcurrier commented on #247
40%  complete on rollover

[2020-06-25 13:48] Gcarthy commented on #247
Loads CSV and JSON Files

Needs to display error and success summary

[2020-06-25 21:18] harpatel1 commented on #69
I have created pull request to make the Mapping id optional and fixed integration tests.

[2020-06-26 08:35] rkorytkowski commented on #69
@paynejd it's been deployed to QA and is ready for your tests.

[2020-06-29 16:03] aprilcurrier commented on #69
Need final approval from @paynejd  99% done on roll over

[2020-07-01 16:40] paynejd commented on #69
This new functionality worked as expected based on my testing in QA! @rkorytkowski @harpatel1 Let's deploy to staging as soon as we are confident that it will not result in any data corruption issues.

[2020-07-01 16:40] paynejd commented on #246
Bulk importer now supports deletes. This has been deployed to QA and tested. Ready for deployment to staging as soon as soon we are certain that deployment will not result in data corruption.

[2020-07-01 16:41] paynejd commented on #243
@rkorytkowski Please provide update on the approach and progress here -- thank you!

[2020-07-03 15:16] rkorytkowski commented on #243
I've fixed the delete operations on org, source and collection models which were the reason we were hitting data integrity issues. We were not deleting CollectionConcept and CollectionMapping when deleting collections and membership of users in orgs for deleted orgs.

I'll be examining the data integrity checks and automated resolution algorithm to fix the deletion of incorrect items.

I'll also a

[2020-07-05 12:25] Karuhanga commented on #220
:( Sorry guys, I'd started on this and got a little busy. Should have some time this week ti wrap up.

[2020-07-06 13:54] rkorytkowski commented on #243
Regarding refining data integrity checks. I've found already one bug, which was responsible for the lost of data when applying fixes on broken references found by the data integrity checks.

If an item had broken references on a list field, it deleted the item, instead of deleting a broken reference from the list. It means that a concept version was deleted, if it was included in a non existing so

[2020-07-06 15:25] paynejd commented on #243
Tested org deletion on staging and the while the data is being deleted, the API is still returning null records for any orgs that were deleted. See this query returns 48 records and that many of them are blanked out (note that these orgs are private, so you'll need to use superuser token):
[code]
Here's an example of one of the blanked out records:
[code]

[2020-07-07 12:55] paynejd commented on #69
This works as expected on QA/staging and is ready for deployment to production

[2020-07-07 13:16] paynejd commented on #246
Testing completed on staging -- ready for deployment to production.

On Thu, Jun 25, 2020 at 9:26 AM April Currier <notifications@github.com>
wrote:

[2020-07-07 13:17] paynejd commented on #214
@rkorytkowski @harpatel1 could you provide an update on this ticket? Has it been merged into master and/or deployed?

[2020-07-08 18:39] harpatel1 commented on #251
It is determined that the collection_type filter is working as expected just the value of 'num_found' is incorrect, however if you see the value of 'num_returned' it would show the correct number of result. By looking at the code, it seems like the issue is due to incorrect solr indexes and most likely be resolved if we rebuild solr indexes in STAGING environment.

We are going to add support for

[2020-07-09 15:15] paynejd opened #253 "Implement bulk import queues"
Sometimes bulk imports are submitted that have dependencies -- meaning, that the first one needs to have completed processing before another begins processing. How can we prevent a specific bulk import from starting until another specific import has completed processing?

For example, could I submit a bulk import with a specific key, such as `PEPFAR-MOH-Malawi-FY19`. Then, if I submit a second (or

[2020-07-09 15:56] paynejd commented on #120
@harpatel1 Please see updated details of this ticket and let us know if questions

[2020-07-10 16:45] paynejd commented on #253
From @rkorytkowski:

So there's a number of ways Celery can help us solve the problem of
queuing tasks so that they wait for results from other tasks.

[2020-07-10 17:01] paynejd commented on #253
Based on our discussion today, the second option that Rafal identified (dynamic creation of queues with just one worker) would meet our requirements for queuing. It would also provide a way for us to expose an API endpoint for a client to query whether an import is underway/queued for a particular bulk import key.

**Acceptance Criteria:**
* Allow a client to optionally include an `import_queue_ke

[2020-07-10 17:03] aprilcurrier commented on #69
Waiting on fix from Rafal for data corruption

[2020-07-10 17:04] aprilcurrier commented on #246
Waiting on fix for data corruption from Rafal

[2020-07-10 17:06] aprilcurrier commented on #214
Waiting on data corruption fix

[2020-07-10 17:06] aprilcurrier commented on #214
@harsh to confirm if wiki is updated

[2020-07-10 17:08] aprilcurrier commented on #251
Need to verify it this works in QA. Dev is 100% Complete @paynejd  to follow up

[2020-07-10 17:08] harpatel1 opened #254 "Create FHIR mapping document"
This would include creating mapping document and identifying any gaps between FHIR model and OCL model.

[2020-07-10 17:23] aprilcurrier commented on #220
@Karuhanga  Is there an update on this?

[2020-07-10 17:25] aprilcurrier commented on #120
Rolling over to next Sprint dev has not been started research on code

[2020-07-10 17:26] aprilcurrier commented on #243
Need more fixes on this. Is a blocker for Prod deployment 50% complete upon rollover

[2020-07-10 17:27] aprilcurrier commented on #247
Working on implementing the API upon rollover

[2020-07-10 17:30] aprilcurrier commented on #248
Still ongoing upon 7/10 rollover working on a strawman

[2020-07-10 17:34] aprilcurrier commented on #228
Monitor to see if issue occurs again

[2020-07-10 17:36] aprilcurrier commented on #190
Delayed due to data corruption work

[2020-07-10 17:40] paynejd commented on #210
We still want to complete this feature -- however, the OclResourceList now has a new `chunk()` method that allows a user to easily split a large bulk import file into multiple files.

We are also defining #253, which will also lower the priority of submitting a single large file in favor of a few smaller files.

Pushing this to the next sprint for now

[2020-07-10 18:09] paynejd commented on #135
@harpatel1 Could you review whether you already resolved this issue based on the work you did in #251 ?

[2020-07-10 18:49] harpatel1 commented on #251
I have verified that this works in QA.

[2020-07-10 18:58] harpatel1 commented on #135
@paynejd Yes, this would also be resolved by the work done in #251 .

[2020-07-10 19:13] paynejd commented on #135
@Karuhanga -- could you test that this now works in QA? We believe that @harpatel1 has resolved the issue in ticket #251

[2020-07-13 14:32] paynejd opened #255 "Implement include_mappings feature in ocldev.oclexport"
The OclExport class in ocldev does not have built-in feature to retrieve a concept's mappings that are stored in the same export. This requires a 3-step process:
1. Get concept
2. Get direct mappings
3. Get inverse mappings

For all `get_concept` methods, we want to add `include_mappings` and `include_inverse_mappings` arguments that will automatically retrieve the concept's direct/inverse mapping

[2020-07-13 14:33] paynejd commented on #255
Committed and updated ocldev package on pypi to v0.1.71

[2020-07-13 14:33] #255 closed

[2020-07-13 14:38] aprilcurrier commented on #162
Closing this is complete

[2020-07-13 14:38] #162 closed

[2020-07-13 14:39] aprilcurrier commented on #161
@maurya  is this still relevant?

[2020-07-13 16:06] harpatel1 opened #256 "Create initial FHIR TS set up"
This ticket covers work related research work on HAPI FHIR, integrating HAPI FHIR server with Docker container and setting up initial application.

[2020-07-13 17:32] aprilcurrier opened #257 "oclapi1 Features"
Under API Web Maintenance V 1

[2020-07-13 17:38] aprilcurrier opened #258 "oclapi1 Bug Fixes"

[2020-07-14 13:33] rkorytkowski commented on #253
All sounds good. Proposed endpoints:
GET /manage/bulkimport/ lists all tasks on all queues the user has access to
GET /manage/bulkimport/task_queue/ lists all tasks on 'test_queue' for the authenticated user
GET /manage/bulkimport/?task=task_uuid returns the task state (as it does now) with additional 'queue' field.
POST/PUT /manage/bulkimport/ adds the task to a default queue
POST/PUT /manage/bul

[2020-07-14 18:40] paynejd commented on #253
Quick questions for @rkorytkowski @harpatel1:
* What will the behavior be for a superuser/root for `GET /manage/bulkimport/`?
* Should we specify two reserved queue keys for the standard and high priority queues, like `__standard__` and `__priority__`? It would be awesome for an admin to be able to request the list of queued tasks in the standard queues using these...
* Should we provide a way for

[2020-07-15 14:30] aprilcurrier commented on #161
@bmamlin  Here is an older ticket related to OCL for OpenMRS rolling it over to you. The previous owner was @maurya  if you have any questions

[2020-07-15 21:08] harpatel1 commented on #253
This looks good.

- `GET /manage/bulkimport/` would list all tasks of a root user by default. We can have it return all users tasks or filter by username, but the issue is to get a task for a given username. We store username as a part of a task_id, so one way of doing this would be to first get all task_Ids and then filter task_id by username.
-  I think in this case having the support for either

[2020-07-16 13:16] paynejd commented on #253
* For root user:
    * `GET /manage/bulkimport/` will list all tasks across all queues with the option to filter by username
    * `GET /manage/bulkimport/:queue/`  will list all tasks for specified queue with the option to filter by username
* `POST` to create new import tasks

[2020-07-16 13:28] paynejd opened #259 "Update response status code to 202 if a bulk import is still being processed"
Currently the bulk import status request returns 200 if it is complete or if it is still underway, so a client has to implement additional logic to determine whether or not it is completed. We want to change the status code to 202 if an import is still underway.

Let's also make sure that all status codes for bulk imports are up-to-date in the wiki.

[2020-07-20 13:10] rkorytkowski commented on #243
All fixes have been applied in code. I've also ran the changes against a backup taken from the staging environment.  The broken references from previous deletions were correctly resolved without excessive deletions. The deletion of an org was complete and did not result in any broken references.

The change is scheduled to be pushed to staging and production tomorrow at 9 am UTC+2. There will be 5

[2020-07-20 13:49] paynejd commented on #243
Awesome thank you Rafal!

On Mon, Jul 20, 2020 at 9:11 AM Rafal Korytkowski <notifications@github.com>
wrote:

[2020-07-21 13:46] paynejd opened #260 "Import CIEL dictionary v2020-07-06 and v2020-07-20"
**v2020-07-06** -- Does not need to be deployed to all environments
[https://app.zenhub.com/files/122384560/bcf54359-10a8-43ad-8711-719a2a1c2709/download](https://app.zenhub.com/files/122384560/bcf54359-10a8-43ad-8711-719a2a1c2709/download)

**v2020-07-20** -- Deploy to all environments, create new released repository versions, and save to snapshots for QA and Demo
[https://app.zenhub.com/files/12

[2020-07-21 13:50] paynejd commented on #246
Now deployed to Staging as part of #243 deployment -- will be deployed to production tomorrow

[2020-07-21 13:54] paynejd commented on #243
@rkorytkowski Can you confirm that deployment of #243 to production completes the development work related to data corruption? Do we need to create additional tickets to address this?

[2020-07-21 14:00] #135 closed

[2020-07-22 10:34] rkorytkowski commented on #243
It's been deployed to staging and production. It does complete the work related to data corruption. No other follow up issues needed.

[2020-07-22 10:35] #69 closed

[2020-07-22 10:36] #243 closed

[2020-07-22 12:21] #246 closed

[2020-07-22 12:23] #251 closed

[2020-07-22 12:23] #214 closed

[2020-07-22 18:25] paynejd commented on #208
Reviving this ticket to track progress on IMAP import performance. Work completed to date improved the benchmark import file from 330 seconds to 110 seconds. There are 2 major remaining improvements:
* #120 - Reduce time for availability of a new source/collection version export
* Reduce processing time of bulk import files within OCL -- now that the entire IMAP import has been incorporated into a

[2020-07-23 15:53] paynejd opened #261 "OCL repo version exports incorrectly use resource type of "MappingVersion" instead of "Mapping""
When you retrieve a repository export from OCL API, it returns a zipped JSON representation of the repository and all of its resources, including concepts, mappings, and, if it is a collection, references. If you look at concepts, the `type` field is `Concept`, which is correct. If you look at the mappings, though, the `type` field incorrectly states that it is a `MappingVersion`, when it should j

[2020-07-23 19:36] aprilcurrier opened #262 "Data Corruption Risk Mitigation Plan"
Include refactor to Postgres -- this switches referential integrity logic to

[2020-07-24 17:06] aprilcurrier commented on #120
60% complete upon rollover

[2020-07-24 17:15] aprilcurrier commented on #247
Starting import API on web interface

[2020-07-24 17:16] aprilcurrier commented on #248
Still in progress

[2020-07-24 17:20] aprilcurrier commented on #163
Currently doing manual automation thereafter

[2020-07-24 17:23] harpatel1 commented on #248
Strawman Approach: https://docs.google.com/document/d/1SaRK0CNMEpKPb0OHXUhbtO5PABzlPi_dCTXKwJMkMmI/edit#heading=h.ersqotaeu521

[2020-07-27 16:09] #164 closed

[2020-07-27 16:11] aprilcurrier opened #263 "Draft FISMA Dev Ops Documentation"

[2020-07-28 09:48] rkorytkowski commented on #253
@paynejd, deployed to QA. You might want to play with it. There are currently 6 workers for processing bulk imports including one which is reserved for root. Each worker processes one task at a time from a dedicated queue. If not specified, a task is added to a random queue.

[2020-07-28 19:02] paynejd commented on #253
@rkorytkowski This is looking good. A few questions:
* Is it possible for me to view the queues in real-time? I think that would be via flower? That would sure make it easier to test
* Could we update the response when POSTing a new bulk import to match the response when GETting the status -- i.e. can we add "queue" and "username" fields?
* Could we also add a timestamp of when a bulkimport was fi

[2020-07-29 12:13] rkorytkowski commented on #253
1. Yes, you can do it via flower.
2. and 3. I'll add those fields.
4. A progress should be exposed by OclFlexImporter and then it's trivial to add that to the response.

[2020-07-29 12:46] paynejd commented on #253
Great, let me know when the new fields are deployed and we can chat on
slack for how to sign into flower.

Let's discuss exposing the progress via OclFlexImporter on tomorrow's dev
call. Thank you!

On Wed, Jul 29, 2020 at 8:13 AM Rafal Korytkowski <notifications@github.com>
wrote:

[2020-07-29 14:58] paynejd opened #264 "Update business logic for populating concept.display_name"
The `concept.display_name` attribute appears to return inconsistent results. For example, requesting a concept in CIEL typically returns the preferred English name, but for some concepts it instead returns a Creole preferred name. Let's use this ticket to define a new set of rules for populating the concept.display_name field.

[2020-07-29 15:58] paynejd opened #265 "Expose IMAP diff script via mediator"
The final step in testing the metadata side of the IMAP service is performing a diff on the IMAP stored in OCL and the IMAP file that was imported. We have a python script `imapdiff.py` that performs the diff. Exposing this via a mediator will allow the entire test process to be completed via REST APIs.

Example request:
[code]

Example running from the command-line:
[code]

[2020-07-29 19:39] #260 closed

[2020-07-29 19:41] paynejd opened #266 "Create docker container to automate CIEL import process"
Given a MySql database dump of CIEL, we want a docker container that semi-automates generation of the OCL import file.

[2020-07-30 15:39] harpatel1 commented on #120
**Solution Approach:**
While analyzing the code it is determined that processing of new repository and the export already runs in parallel. So we have decided to reduce the import time by processing solr indexes asynchronously by utilizing the `celery_haystack` library.

**Performance measurement:**
To measure the performance I ran one of the PEPFAR's import script locally, the import script has 5

[2020-07-30 16:29] paynejd commented on #253
For import progress, OclFlexImporter has an instance variable named `import_results`. You can get the current progress and total lines like this:
[code]

[2020-07-30 17:16] harpatel1 opened #267 "FHIR: Env Setup"

[2020-07-30 17:18] harpatel1 opened #268 "FHIR API Implementation"

[2020-07-30 17:19] harpatel1 opened #269 "FHIR TS operations"

[2020-07-30 17:35] harpatel1 opened #270 "IHE mSVCM compliance demonstration"

[2020-07-30 17:36] harpatel1 opened #271 "FHIR Docs"

[2020-07-30 18:31] harpatel1 opened #272 "Implement create operation for CodeSystem"

[2020-07-30 18:35] harpatel1 opened #273 "Implement update operation for CodeSystem"

[2020-07-30 18:35] harpatel1 opened #274 "Implement read operation for CodeSystem"
We need to implement the READ operation for CodeSystem resource. This is going to return public resources from OCL. For non-public related operations we need additional functionality in OCL which is not present at this moment.

[2020-07-30 18:36] harpatel1 opened #275 "Implement delete operation for CodeSystem"

[2020-07-30 18:38] harpatel1 opened #276 "Implement create operation for ValueSet"

[2020-07-30 18:38] harpatel1 opened #277 "Implement read operation for ValueSet"

[2020-07-30 18:38] harpatel1 opened #278 "Implement update operation for ValueSet"

[2020-07-30 18:39] harpatel1 opened #279 "Implement delete operation for ValueSet"

[2020-07-30 18:39] harpatel1 opened #280 "Implement create operation for ConceptMap"

[2020-07-30 18:39] harpatel1 opened #281 "Implement read operation for ConceptMap"

[2020-07-30 18:40] harpatel1 opened #282 "Implement update operation for ConceptMap"

[2020-07-30 18:40] harpatel1 opened #283 "Implement delete operation for ConceptMap"

[2020-07-31 10:32] rkorytkowski commented on #253
A small change is needed in ocldev to report progress. See https://github.com/OpenConceptLab/ocldev/commit/717f2b46b8c1d4cacc56b05f15a551bbfa177304

Let's do that in a separate issue.

I'll go ahead and deploy this one to staging.

[2020-07-31 13:59] paynejd commented on #253
Looks like there is a bug in how the queue key and the username are parsed. See below. The username should be `datim-admin` and queue should be `default`
[code]
[code]

[2020-07-31 14:07] maurya commented on #253
Currently two concurrent import requests is leading to an error -
1st import -
[code]
but the second import request that is made right after results in a 500 error -
[code]

The extra information is created by python scripts in https://github.com/OpenConceptLab/ocl_datim but the requirement is we need to receive a 409 response from OCL when a second concurrent request is sent while the country cod

[2020-07-31 18:13] harpatel1 commented on #253
Stack trace on server:
INFO 2020/07/31 13:55:31 [middlewares.py:22 process_request()] datim-admin 172.19.0.1 POST /manage/bulkimport/DATIM-MOH-BI-FY19/
ERROR 2020/07/31 13:55:31 [base.py:210 handle_uncaught_exception()] Internal Server Error: /manage/bulkimport/DATIM-MOH-BI-FY19/
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 1

[2020-08-03 08:48] rkorytkowski commented on #253
Thanks for testing. Addressed both issues in 9a1e602.

[2020-08-03 11:06] rkorytkowski commented on #120
It's been deployed to QA for initial testing.

[2020-08-03 11:07] rkorytkowski commented on #253
It's been deployed to all envs now.

[2020-08-03 14:47] harpatel1 opened #284 "Create a Bamboo plan for releasing ocldev to PyPI"

[2020-08-03 15:03] paynejd commented on #284
@harpatel1 Let's chat on Slack regarding credentials for publishing to PyPi

[2020-08-03 18:59] paynejd opened #285 "Requesting collections in an org returns results from other orgs"
The query below should only return collection results from the `PEPFAR-Test8` organization, however, there are multiple results from other organizations (`PEPFAR-Test7` and `PEPFAR-Test6`) in the list:
[code]

This is an issue that was worked on before, but it looks like it has not yet been completely resolved.

[2020-08-04 19:57] paynejd commented on #253
Testing in the staging environment is looking great! One final request: could we add a timestamp for when the bulk import request was posted?

[2020-08-05 12:10] rkorytkowski commented on #120
I haven't discovered any issues on QA. Let's test on real data on staging.

[2020-08-05 13:31] maurya commented on #247
Updated the requirements

[2020-08-05 13:47] harpatel1 commented on #120
Sounds good !!

[2020-08-07 14:13] rkorytkowski opened #286 "Deploy oclapi2 to QA"
The task includes needed code changes to be able to deploy to QA and other environments.

[2020-08-07 14:40] paynejd commented on #264
We want to populate `display_name` taking into consideration the dictionary locale settings, the user locale preferences, and system default settings. In the near-term, we will use dictionary locale settings and system default. We will implement user preferences (eg `accept-language` request header) at a later date.

The following rules for processing `display_name` based on dictionary and system

[2020-08-07 17:11] aprilcurrier commented on #120
Harsh to look at more closely in the coming weeks

[2020-08-07 17:12] aprilcurrier commented on #259
In staging not in prod

[2020-08-07 17:13] #253 closed

[2020-08-07 17:14] aprilcurrier commented on #285
50-60% complete upon rollover

[2020-08-07 17:16] aprilcurrier commented on #248
Adding Jeff W onto the project

[2020-08-07 17:17] #248 closed

[2020-08-07 17:21] aprilcurrier commented on #284
60% on rollover

[2020-08-07 17:25] aprilcurrier commented on #284
Jon following up on purchase details with @harpatel1

[2020-08-07 17:26] aprilcurrier commented on #263
Need to verify if in progress

[2020-08-07 18:01] paynejd commented on #284
Shared credentials with @harpatel1 for pypi.org and test.pypi.org. Also provided Harsh with Access to the OCL Admin LastPass account so that he can access root accounts for various OCL services

[2020-08-10 16:02] aprilcurrier commented on #284
Harsh to follow up with Cynthia waiting to install pkg in bamboo server

[2020-08-10 16:39] aprilcurrier commented on #241
@rkorytkowski  Any update on this? It seems #286 would be a dependency on this? Need an update on when it was complete and the effort needed

[2020-08-12 13:03] harpatel1 commented on #284
Build Plan - https://ci.openmrs.org/browse/OCL-OCLDEV/
Deploy Plan - https://ci.openmrs.org/deploy/viewDeploymentProjectEnvironments.action?id=189890561

Currently this plan configured to push artifacts to https://test.pypi.org/.

[2020-08-14 19:04] aprilcurrier opened #287 "PLM Integration"

[2020-08-14 19:05] aprilcurrier opened #288 "MOH Integration"

[2020-08-14 19:07] aprilcurrier opened #289 "MOH-MSP Integration"
Tickets to expose PEPFAR MOH alignment content in the MSP

[2020-08-14 19:29] jamlung-ri opened #290 "Indicators not appearing in API query when searching"
When searching for two indicators in OCL Staging or in the MSP, these two indicators do not appear in the search results. However, they do appear in OCL when using a single-resource query like `https://api.staging.openconceptlab.org/orgs/PEPFAR-Test8/sources/MER/concepts/rMs0q6Yaw0G/`.

The query that we are using is `https://api.staging.openconceptlab.org/orgs/PEPFAR-Test8/sources/MER/concepts/?v

[2020-08-14 20:14] maurya opened #291 "http post bulk import request is redirected to a get request"
To replicate the issue try sending a `POST` request to `http://api.qa.openconceptlab.org/manage/bulkimport/` and the response we get is the list of bulk import requests on that environment (behaviour of `GET` request on that same url)

cc: @paynejd

[2020-08-20 15:48] paynejd opened #292 "Compare CIEL in OCL production/staging to v2020-07-20 MySql dump"
Compare CIEL in production/staging to the source CIEL dictionary from Andy, using v2020-07-20. Output of this ticket should be a list of concepts and mappings that are in the source CIEL dictionary that are missing or different from the OCL production and staging exports and a list of steps to resolve all differences, which should be tracked in a new ticket. CIEL in OCL production and staging must

[2020-08-20 15:51] paynejd opened #293 "Implement ocldev OclResourceList.diff"
We want to implement `ocldev.oclresourcelist.OclResourceList.diff` method to easily evaluate a diff between 2 resource lists.

[code]

[2020-08-20 16:18] paynejd opened #294 "Fix CIEL concepts/mappings that are not members of their source's HEAD source version"
"Orphaned" concepts and mappings:
**Problem:** There are some concepts and mappings in CIEL v2020-07-20 that exist in the sources on OCL prod/staging, but are not associated with the HEAD or v2020-07-20 source versions. This means that a concept/mapping is not available when searching and its not available via exports, but it can still be retrieved if you know its ID.

These concepts are in the CI

[2020-08-21 02:40] bmamlin commented on #292
These concepts are in CIEL v2020-07-20 but are missing from production:
* [~~Chronic airway obstruction~~ (120603)](https://openconceptlab.org/orgs/CIEL/sources/CIEL/concepts/120603/)
* [Proteinuria (128340)](https://openconceptlab.org/orgs/CIEL/sources/CIEL/concepts/128340/)
* [Pulmonary collapse (148246)](https://openconceptlab.org/orgs/CIEL/sources/CIEL/concepts/148246/)
* [Brother in law (1633

[2020-08-21 03:41] bmamlin commented on #292
Comparison between CIEL v2020-07-20 and production:
<details>
<summary>Mappings in CIEL missing from production (n=5)</summary>

[code]
</details>
<details>
<summary>Mappings not in CIEL, but found in production (n=491)</summary>

[code]
</details>

Comparison between CIEL v2020-07-20 and staging:
<details>
<summary>Mappings in CIEL missing from staging (n=5)</summary>

[code]
</details>
<details>

[2020-08-24 08:15] snyaggarwal commented on #264
Pull request raised -- https://github.com/OpenConceptLab/oclapi/pull/590

[2020-08-26 03:37] bmamlin opened #295 "/users/:user/orgs returns all organizations"
`GET /users/:user/orgs` is expected to return the user's organizations (orgs to which the user is a member); however, it appears to be returning all orgs.

I believe the associated code is [here](https://github.com/OpenConceptLab/oclapi/blob/d36d286a931064b8275f224f1f6212327ae65827/ocl/orgs/views.py#L48-L54).

This is a blocker for the OCL for OpenMRS MVP release.

[2020-08-26 04:12] snyaggarwal commented on #295
I believe its happing because of is_staff flag -- https://github.com/OpenConceptLab/oclapi/blob/d36d286a931064b8275f224f1f6212327ae65827/ocl/orgs/views.py#L45

[2020-08-26 16:11] bmamlin commented on #295
Testing in QA it appears that I am a member of no orgs, yet my org list includes 21 orgs.
[code]

[code]

The same behavior is seen on staging & production. I am not a member of any orgs, yet a query for my orgs (`/users/burke/orgs/`) returns ~140 orgs.

[2020-08-26 16:16] harpatel1 commented on #295
I have identified the issue. Looks like filters are causing this behavior.
https://github.com/OpenConceptLab/oclapi/blob/master/ocl/orgs/filters.py#L17

[2020-08-26 16:19] snyaggarwal commented on #295
Can you please list down the expectations for following URLs:
GET /orgs/ -- unauthenticated user
GET /orgs/ -- authenticated user
GET /orgs/ -- superadmin (or is_staff) user
GET /users/:user/orgs/

[2020-08-26 16:34] harpatel1 commented on #295
Here is what I think behavior should be:

GET /orgs/
- Anonymous user - Return all Public orgs
- Authenticated user (not is_staff) - Return all Public orgs + any orgs that user is member of
- Superuser - Returns all orgs regardless public or private

GET /users/:user/orgs/
- Authenticated user (not is_staff) - Only return orgs that user is member of

[2020-08-26 16:39] snyaggarwal commented on #295
Cool, I will update that in oclapi2

[2020-08-27 17:16] harpatel1 commented on #295
@bmamlin Fix is deployed in QA and Staging.

[2020-08-27 18:12] aprilcurrier commented on #285
@harpatel1  can we get an updated ETA on this?

[2020-08-27 18:23] harpatel1 commented on #285
@aprilcurrier its fixed in QA and Staging.

[2020-08-27 18:35] aprilcurrier commented on #285
@harpatel1 So has it been deployed? (looking for which pipeline it falls in)

[2020-08-27 19:38] harpatel1 commented on #285
@aprilcurrier It is deployed in qa and staging but not in production. I am planning to deploy it in production tonight. I think this ticket is in correct pipeline.

[2020-08-28 14:51] harpatel1 opened #296 "Create entities and repositories for OCL_FHIR"

[2020-08-31 17:36] paynejd commented on #264
Confirming that this is now deployed to QA and staging? @snyaggarwal @harpatel1

[2020-08-31 17:40] harpatel1 commented on #264
@paynejd Yes, this is deployed in QA and Staging.

[2020-08-31 18:22] paynejd commented on #294
@rkorytkowski Can you provide an update on this ticket?

[2020-09-01 12:46] rkorytkowski commented on #294
@paynejd listed concepts have been fixed on staging, though they are still being indexed for version 2020-08-22. Once it completes I'll need to check mappings, if they got indexed correctly.

It's a bit different situation on production and I'm still looking into that.

[2020-09-01 18:54] harpatel1 opened #297 "Bulk import yields inconsistent results"
When we do Bulk Import as CSV file, it looks like multiple attempts for a same bulk import file yields inconsistent results. This behavior is noticed in STAGING environment. It is most likely that this would happen for JSON import too since CSV import is effectively JSON import.

Scenario:
New bulk import request:
53 Concepts returned under source. There are total 53 concepts in bulk import file s

[2020-09-02 15:48] bmamlin commented on #295
@harpatel1 QA is working as expected, but staging still returns all orgs.
[code]

[2020-09-02 17:44] harpatel1 commented on #295
@bmamlin I checked the database and looks like you are a staff user (is_staff : True), that's why you are seeing all orgs.

[2020-09-03 15:02] paynejd opened #298 "Dockerize oclapi nginx"
This is the last component in the OCL stack that is not dockerized. This is needed prior to AWS deployment.

[2020-09-04 12:47] paynejd opened #299 "AWS Deployment"

[2020-09-04 17:01] harpatel1 commented on #297
Deployed to QA and Staging.

[2020-09-04 17:08] harpatel1 commented on #284
Update the Build plan to have another deploy option to push to Test and Prod.

[2020-09-04 17:11] harpatel1 commented on #122
@rkorytkowski Can you update on the status of this ticket ?

[2020-09-04 17:12] harpatel1 commented on #247
95% on roll over.

[2020-09-04 17:13] harpatel1 commented on #266
@bmamlin Can you provide an update on this ticket ?

[2020-09-04 17:13] harpatel1 commented on #296
70% complete on roll over.

[2020-09-04 17:17] harpatel1 commented on #256
Push FHIR application code in repository and close this ticket.

[2020-09-04 17:38] rkorytkowski commented on #294
Interestingly I ran the check for missing references to HEAD and there are only a couple more across the whole system on staging:
[code]

There are none in mappings on staging and none in concepts and mappings on production.

The mappings on staging are indeed missing even in DB so I need to reimport the latest CIEL. Most likely they were not properly imported due to broken concepts.

Given it's j

[2020-09-04 17:45] paynejd commented on #120
Change reverted due to regression in handling of concept and mapping versions that resulted in "orphaned" resources (ie. when a newly created resource version is no longer associated with a repository's HEAD).

[2020-09-04 17:50] paynejd commented on #120
Flagging this for @snyaggarwal --- based on results of performance testing in oclapi2, you may want to explore background processing of index updates (if you haven't already)

[2020-09-04 17:50] #120 closed

[2020-09-04 17:51] paynejd commented on #208
IMAP import time is down to about 100seconds, from a baseline of 330 seconds. More performance improvements expected after switching to oclapi2. Closing this out.

[2020-09-04 17:51] #208 closed

[2020-09-04 17:57] paynejd commented on #96
@snyaggarwal Can you verify that this behavior is addressed in oclapi2?

[2020-09-04 17:57] paynejd commented on #34
@snyaggarwal can you verify that this behavior is addressed in oclapi2?

[2020-09-04 17:58] #34 closed

[2020-09-04 18:01] paynejd commented on #228
Issue resolved itself... will create new ticket if it happens again

[2020-09-04 18:01] #228 closed

[2020-09-04 18:05] paynejd commented on #294
Thanks Rafal - can you take a look at #290 then? (
https://github.com/OpenConceptLab/ocl_issues/issues/290)

We are seeing other concepts not showing up in the index, and I had hoped
that it was the same issue, but maybe we need to look deeper.

On Fri, Sep 4, 2020 at 1:38 PM Rafal Korytkowski <notifications@github.com>
wrote:

[2020-09-07 14:27] rkorytkowski commented on #294
I've just checked mappings and on staging these 5 are still missing:

1. 7efee5b5-2fc4-382a-a8ad-43b5583cded4 due to: to_concept_url /orgs/CIEL/sources/CIEL/concepts/40043006/ does not exist
2. ce93a1e1-ba9c-33ba-a0e9-699fc90ac683 due to: to_concept_url /orgs/CIEL/sources/CIEL/concepts/46767504/ does not exist
3. f8553ce1-548b-37a6-b6d0-fd5fcbdb83d2 due to:  to_concept_url /orgs/CIEL/sources/CIEL/

[2020-09-07 14:32] rkorytkowski commented on #290
#297 might have fixed this. @harpatel1, by chance have you rebuilt index to fix inconsistencies? If not, can you do that and verify?

[2020-09-08 02:35] snyaggarwal commented on #34
Added in oclapi2

[2020-09-08 02:36] snyaggarwal commented on #96
This would need changes in ocl_web. Will wait for that to be done.

[2020-09-08 14:03] harpatel1 commented on #290
@rkorytkowski I rebuilt solr indexes in staging as a part of fixing #297. Looks like that didn't fix this issue.

[2020-09-08 16:02] harpatel1 opened #300 "Create Bamboo build plan for ocl_fhir"

[2020-09-08 16:04] harpatel1 opened #301 "Create Bamboo deploy plan for ocl_fhir"

[2020-09-08 16:16] aprilcurrier commented on #290
@harpatel1 has verified this is still an issue

[2020-09-08 16:31] paynejd opened #302 "Resolve CIEL concept dictionary discrepancies"
Observations and next steps based on analysis by @bmamlin in #292 -- next step is to outline specific tasks.

## "Orphaned" concepts and mappings:
**Problem:** There are some concepts and mappings in CIEL v2020-07-20 that exist in OCL on prod/staging, but are not associated with the HEAD or v2020-07-20 source versions

**Solution:**
* For CIEL: Manually add these concepts & mappings to the CIEL HE

[2020-09-08 16:33] harpatel1 opened #303 "Updated concept shows up twice in HEAD"
Old and new version of concept appears in HEAD version of repository. Ideally only latest version should appear in HEAD repository version.

![image.png](https://images.zenhubusercontent.com/5eb2e0953c8271ed74421927/0bf59621-e358-46aa-ade0-42b3360adabb)

[2020-09-08 16:34] aprilcurrier opened #304 "OCL Roadmap and Deliverables Submission Procedure for DS"
Link to roadmap document: https://docs.google.com/document/d/1VBrH4oUM6QDnGLsV5rSrs63zfcj__tXhgo3vnWeWmLs/edit#heading=h.k2hetpm48rme

[2020-09-08 16:35] paynejd opened #305 "Testing for ocldev python3 upgrade"
@snyaggarwal upgraded ocldev for python3 and to maintain backwards compatibility with python 2.7. This ticket will capture testing activities by the OCL team.

[2020-09-08 16:36] paynejd commented on #305
Next step is to get `pytest` working. Jon and Sunny to discuss on Wednesday.

[2020-09-08 16:37] paynejd opened #306 "Plan oclapi2 dev team testing"
@snyaggarwal is getting close to completing the oclapi2 upgrade. This ticket will capture activities by the team to support testing.

[2020-09-08 16:42] aprilcurrier opened #307 "oclapi2 Refactor"
This is recreating OCL API V1 on an upgraded Tech stack

[2020-09-08 16:43] aprilcurrier opened #308 "oclapi2 Launch"
Includes testing, migration, and overall transition

[2020-09-08 20:28] ibacher opened #309 "Confusing error message when assigning duplicate OCL ID"
I'm raising this to report [this issue](https://issues.openmrs.org/browse/OCLOMRS-876) to the appropriate place. When trying to add a concept with a duplicate id to the same source, the error message is quite opaque. The error returned from the API is:

The error message originates from violating the constraint specified [here](https://github.com/OpenConceptLab/oclapi/blob/67a8b9f3f00acfd3bfc04cc7

[2020-09-09 04:23] snyaggarwal commented on #305
pytest is passing now with python3 and python2.

Steps to test:
For python2 -
1. virtualenv venv -p python2
2. source venv/bin/activate
3. pip install -r requirements.txt
4. pytest

For python3 -
1. virtualenv venv -p python3
2. source venv/bin/activate
3. pip install -r requirements.txt
4. pytest

[2020-09-09 12:48] paynejd commented on #309
Thanks for reporting this @ibacher! Agree that is a difficult error message to understand!

Since we are retiring oclapi v1 shortly, we probably will only modify this in oclapi2.

@snyaggarwal -- do you want to take a look at this? I'll create a ticket for us to review other error messages as well.

Suggest a slight modification to what Ian suggested:
"Concept ID must be unique within a source."

[2020-09-09 12:50] paynejd opened #310 "Revise list of response text, error messages, etc. for oclapi2"
- [X] Compile a list of all the response text, error messages, etc. in oclapi2 (Sunny)
- [x] Revise list of responses and messages in oclapi2 for clarity and consistency (Maurya)
- [x] 10/07/2020 - Review final list with @paynejd and @harpatel1
- [x] 10/08/2020 - @maurya to create a consolidated list and send to @snyaggarwal
- [ ] 10/09/2020  - Review with @snyaggarwal on Architecture call

[2020-09-09 12:59] paynejd opened #311 "oclapi2 Maintenance"

[2020-09-09 13:28] snyaggarwal commented on #310
Most of them I can extract from integration tests.

[2020-09-09 14:24] paynejd opened #312 "Upgrade ocl_datim & msp_metadata repositories from python 2.7 to v3"
All support for python v2.7 will stop at the end of 2020. We want to upgrade all used OCL repos to v3. Note that ocldev has already been upgraded and is backwards compatible with v2.7. This should help us with the upgrade process because the same package can be used in both versions. Let's use this ticket to plan all activities that need to be completed as part of this.

Affected repositories:
* o

[2020-09-09 14:28] paynejd opened #313 "CIEL Maintenance"

[2020-09-09 14:33] paynejd commented on #261
@snyaggarwal Can you verify whether this is bug carried over into oclapi2 and the level of effort to fix if it's there?

[2020-09-09 14:36] #241 closed

[2020-09-09 14:37] paynejd commented on #285
Rolling over to next sprint due to delay in deployment from #303

[2020-09-09 14:37] paynejd commented on #259
Rolling over to next sprint due to delay in deployment from #303

[2020-09-09 14:37] paynejd commented on #297
Rolling over to next sprint due to delay in deployment from #303

[2020-09-09 14:37] paynejd commented on #264
Rolling over to next sprint due to delay in deployment from #303

[2020-09-09 14:38] paynejd commented on #295
Rolling over to next sprint due to delay in deployment from #303

[2020-09-09 14:48] paynejd opened #314 "Purchase Wordpress business annual plan"

[2020-09-09 14:48] paynejd commented on #314
Done!

[2020-09-09 14:48] #314 closed

[2020-09-09 14:49] paynejd opened #315 "OCL Community Site Launch"

[2020-09-09 15:01] paynejd opened #316 "Setup Google Analytics for OCL Wordpress site"
This is fully integrated in Wordpress and we need to create a google analytics account with the admin@openconceptlab.org email address to make this happen.

[2020-09-09 15:05] #229 closed

[2020-09-09 15:09] paynejd commented on #204
@snyaggarwal oclapi1 with Solr is capable of returning faceted results (see here: https://github.com/OpenConceptLab/oclapi/wiki#facets). This was enabled for a number of different search types, but was never implemented for collections. Are facets implemented in oclapi2? Based on my tests of ocl_web in qa2, it appears that facets may not yet be implemented, or that they will at least need some add

[2020-09-09 15:21] paynejd commented on #215
@snyaggarwal You mentioned this on our call today -- can you confirm that both PUT and POST are supported for orgs in oclapi2?

[2020-09-09 15:25] paynejd commented on #215
Note this will not be changed in oclapi1.

[2020-09-09 15:26] paynejd commented on #218
@snyaggarwal Note this ticket here for finalizing the approach to the trailing slash in oclapi2. If we end up not supporting it, we'll close this ticket out.

Note that this will not be done in oclapi1.

[2020-09-09 15:34] paynejd commented on #203
@snyaggarwal Would this be easy to add for our oclapi2 deployment?

[2020-09-09 15:35] paynejd commented on #182
Not observing this behavior in the provided query. We will close this ticket out and continue to track this bug in a related ticket #303

[2020-09-09 15:35] #182 closed

[2020-09-09 15:39] paynejd commented on #291
Note that all requests to `http://`, regardless of which HTTP method is used, are automatically redirected to `https://` GET requests. This is expected behavior by oclapi1.

@snyaggarwal @rkorytkowski  Can you please describe what the behavior is for oclapi2 and whether we need to make any changes?

[2020-09-09 15:40] #9 closed

[2020-09-09 15:41] paynejd commented on #65
@snyaggarwal Was this resolved in oclapi2?

Note that this will not be resolved in oclapi1

[2020-09-09 15:42] paynejd commented on #35
@snyaggarwal Can you confirm that this was resolved in oclapi2?

Note that this will not be resolved in oclapi1

[2020-09-09 15:43] paynejd commented on #26
@snyaggarwal Can you confirm that this was resolved in oclapi2?

Note that this will not be fixed in oclapi1

[2020-09-09 15:45] paynejd commented on #8
Note that we may address this after oclapi2 launch. Note also that it would involve ocl_web2 in addition to oclapi2

[2020-09-09 15:45] paynejd commented on #30
@snyaggarwal Can you confirm that this was already completed for oclapi2?

Note that this will not be added to oclapi1

[2020-09-09 15:47] paynejd commented on #87
Already completed in oclapi2. Closing!

[2020-09-09 15:47] #87 closed

[2020-09-09 15:47] paynejd commented on #16
@snyaggarwal Can you confirm that this was already addressed in oclapi2?

Note that this will not be completed in oclapi1

[2020-09-09 15:49] paynejd commented on #57
Adding this to the roadmap for oclapi2 after launch

[2020-09-09 15:50] paynejd commented on #113
@snyaggarwal Did you already implement `extras` support for `mappings` in oclapi2?

Note that no additional work will be done on extras for mappings in oclapi1

[2020-09-09 15:58] paynejd opened #317 "DASH Iteration 5"

[2020-09-09 18:35] paynejd commented on #316
Done for my personal email. Next step is to link this with the admin@openconceptlab.org site.

[2020-09-09 18:54] paynejd commented on #172
this issue is resolved. closing

[2020-09-09 18:54] #172 closed

[2020-09-09 18:56] paynejd commented on #199
@rkorytkowski, I know that you did some work on this ticket already, but I don't think that it was fully completed. Can you describe really quickly what you did and what else needs to be done? I'll add this to the roadmap for oclapi2. Thanks!

[2020-09-09 18:59] paynejd commented on #131
This bug is observed occasionally in oclapi1 and is addressed by rebuilding the search index. We will not be doing any additional work on this in oclapi1 and it will be resolved in the oclapi2 upgrade. Closing.

[2020-09-09 18:59] #131 closed

[2020-09-09 19:01] paynejd opened #318 "oclweb1 Maintenance"

[2020-09-09 19:01] paynejd opened #319 "oclweb2 Refactor"

[2020-09-09 19:02] paynejd opened #320 "oclweb2 Launch"

[2020-09-09 19:02] paynejd opened #321 "oclweb2 Maintenance"

[2020-09-09 19:03] paynejd opened #322 "Python 3 Upgrade"

[2020-09-09 19:11] paynejd commented on #139
@snyaggarwal Please note this documented permissions bug as you plan out permissions after the launch of oclapi2

[2020-09-09 19:12] paynejd commented on #136
@snyaggarwal Please note this bug -- is this already addressed in oclapi2?

[2020-09-09 19:13] paynejd commented on #107
@snyaggarwal Please note this bug -- was this addressed already in oclapi2?

Note that we will not do any work on this ticket in oclapi1

[2020-09-09 19:15] paynejd commented on #11
We need to discuss this ticket in a future OCL Architecture call -- we may ultimately choose to take a different approach.

[2020-09-09 19:15] paynejd commented on #23
Discuss in a future OCL Architecture call -- is this a feature we want to implement?

[2020-09-09 19:16] paynejd commented on #42
@snyaggarwal Was this implemented in oclapi2? This is low priority, but probably an easy thing to add.

[2020-09-09 19:17] paynejd commented on #29
Discuss on OCL Architecture call as a possible feature to implement in the future

[2020-09-09 19:21] paynejd opened #323 "Update behavior for DELETE requests to concepts and references"
The OCL API wiki states that a DELETE request actually just sets the "retired" attribute of a new concept or mapping version to `true`. In the future, we plan to support hard deletes of concept or mapping versions that are not already members of a repository version. These two approaches both being supported via a DELETE request is inconsistent behavior and we may want to choose a different method

[2020-09-09 19:22] paynejd commented on #112
Note #323 -- we will close this ticket and move all future work related to this ticket there.

[2020-09-09 19:22] #112 closed

[2020-09-09 19:27] paynejd commented on #20
Let's plan to address this as part of the oclweb2 overhaul -- note that it will also involve minor changes to oclapi2

[2020-09-09 19:30] paynejd commented on #101
@rkorytkowski @snyaggarwal Can you confirm whether cached exports are deleted when a repo is deleted? And when a user checks if an export exists for a repo version, how does checking occur? For example, if a repo is deleted and a new one is created with the same ID and same version ID, does the API have a way to know that an old cached export is not the same?

Let's use this ticket to decide if we

[2020-09-09 19:32] paynejd commented on #31
Discuss on OCL Architecture call whether we want to implement this feature

[2020-09-09 19:34] paynejd commented on #22
Discuss on future OCL Architecture call if we want to provide additional export options that apply a filter. Note that we could consider providing this functionality in the ocldev2 package as well to that this can be accomplished programmatically.

[2020-09-09 19:34] #140 closed

[2020-09-09 19:35] paynejd commented on #10
Work on this topic will be addressed in #323 -- closing this out

[2020-09-09 19:35] #10 closed

[2020-09-09 19:36] paynejd commented on #323
Note possibility of implementing a `purge` parameter for clients to request hard deletes. This was described in #10.

[2020-09-09 19:39] paynejd commented on #33
@snyaggarwal Should this be addressed in oclapi2? (or has it already been?)

[2020-09-09 19:40] paynejd commented on #67
Work related to this ticket will be addressed in #323  - closing this out

[2020-09-09 19:42] paynejd commented on #323
See note from #67 (which is now closed) about possible issues with "soft deletes" -- need to determine if there are incorrect behaviors brought over into oclapi2 from this.

It is possible to inactivate any object (soft delete it). It will no longer appear in searches, however it will still be present in mongo and can be activated again, if needed. There are a number of issues with inactivation:

[2020-09-09 19:43] paynejd commented on #21
Closing this old ticket out as it has been addressed in other tickets.

[2020-09-09 19:43] #21 closed

[2020-09-09 19:43] #67 closed

[2020-09-09 19:52] paynejd commented on #221
This will be addressed in oclapi2 after launch (as part of the permissions update) and during the oclweb2 overhaul.

Note that the permissions approach needs group discussion to better define

[2020-09-09 19:54] paynejd commented on #132
Let's include this as part of the ocldev2 approach.

[2020-09-09 19:56] paynejd opened #324 "ocldev2"
Python package with objects and functionality that is used in OCL's API, but it can also be used outside of OCL in your local work.

[2020-09-09 19:58] paynejd commented on #32
Discuss on future OCL Architecture call to determine best approach & priority

[2020-09-09 19:59] paynejd commented on #36
Consider as possible enhancement in oclapi2 after launch -- needs discussion on OCL Architecture call

[2020-09-09 20:00] paynejd commented on #28
Consider as enhancement after oclapi2 launch - discussion needed on OCL Architecture call

[2020-09-09 20:02] paynejd commented on #242
Note that the OCL team will need specific requirements if this ticket is to move forward. Keeping this in the icebox for now.

[2020-09-09 20:03] paynejd commented on #323
Also from #93 (now closed):

[2020-09-09 20:03] paynejd commented on #93
This work will move forward in #323 -- closing this out

[2020-09-09 20:03] #93 closed

[2020-09-09 20:05] paynejd commented on #41
Discuss with OCL architecture group whether we want to go this route -- would be part of the oclweb2 overhaul and would impact the oclapi2 authentication approach

[2020-09-09 20:06] paynejd commented on #103
@snyaggarwal Please note this ticket when planning the permissions upgrade for oclapi2

[2020-09-09 20:10] paynejd commented on #217
@snyaggarwal Can you confirm that this is (or will be) addressed in oclapi2?

Note that this is related to support for facets in oclapi2, which is also referenced in #204

[2020-09-09 20:15] paynejd commented on #100
This is an important feature for all OCL users, including the OpenMRS squad. We will discuss on an upcoming OCL Architecture call and add to the roadmap after the oclapi2 launch.

[2020-09-09 20:19] paynejd commented on #240
@rkorytkowski Can you provide update on this? Was this an oclapi or ocl_web error?

[2020-09-10 02:50] snyaggarwal commented on #291
HTTP to HTTPS redirect will happen at the proxy level (aka Nginx).
There is nothing extra we will have to do at the Django level.
@rkorytkowski Please add if I missed anything.

[2020-09-10 02:53] snyaggarwal commented on #215
Yes!
PUT /orgs/:org/ is supported.
POST /orgs/:org/ is also supported. (for backward compatibility with ocldev/ocl_web)

[2020-09-10 03:04] snyaggarwal commented on #168
implemented

[2020-09-10 03:23] snyaggarwal commented on #113
implemented.

[2020-09-10 03:38] snyaggarwal commented on #42
done

[2020-09-10 03:38] snyaggarwal commented on #35
It was resolved in oclapi2

[2020-09-10 03:39] snyaggarwal commented on #33
this was fixed

[2020-09-10 04:15] snyaggarwal commented on #30
Done

[2020-09-10 04:31] snyaggarwal commented on #305
branch for this is `2to3`

[2020-09-10 05:39] snyaggarwal commented on #217
yes its fixed in oclapi2

[2020-09-10 05:44] snyaggarwal commented on #204
This is implemented. Needs testing.

[2020-09-10 11:46] snyaggarwal commented on #310
### Common

- NOT_FOUND = 'Not found.'
- OK_MESSAGE = 'ok!'
- PERSIST_NEW_ERROR_MESSAGE = "An error occurred while trying to persist new {}."
- MUST_SPECIFY_EXTRA_PARAM_IN_BODY = 'Must specify {} param in body.'
- SOURCE_PARENT_CANNOT_BE_NONE = 'Source parent cannot be None.'
- PARENT_RESOURCE_CANNOT_BE_NONE = 'Parent resource cannot be None.'
- CREATOR_CANNOT_BE_NONE = 'Creator cannot be None.'
-

[2020-09-10 12:03] snyaggarwal commented on #310
with this, we should also address responses that don't need any message for example 204.

[2020-09-10 12:05] snyaggarwal commented on #309
done

[2020-09-10 13:42] paynejd opened #325 "Create OCL infrastructure ansible scripts for AWS in new ocl infrastructure repo"
- [X] Give ocl admin team access to `ocl_infrastructure` repo (Jon)
- [X] Create OCL admin AWS account (Jon)
- [ ] Write OCL infrastructure Ansible scripts (Sunny)

[2020-09-10 14:11] paynejd commented on #325
@snyaggarwal You now have access to the `ocl_infrastructure` repo and I sent credentials to sign into AWS account via Slack. Please let me know if anything else needed to support this process.

[2020-09-10 15:32] paynejd opened #326 "Share CIEL and PEPFAR IMAP baseline bulk import scripts with Sunny"
Sunny to use these to test bulk import results in oclapi2

[2020-09-10 15:40] paynejd commented on #326
Sent the PEPFAR IMAP baseline import script. Following up with ciel.

[2020-09-10 15:56] paynejd opened #327 "Define requirements for mSVCM/FHIR TS Connector"
3 use cases under consideration for this right now:
* Connecting to OCL via FHIR
* Connecting to a FHIR HAPI server
* Connecting to DHIS2 exposing option sets as Value Sets

Links for DHIS2:
* https://notes.interop.dhis2.org/UCURmA2tTCO_6tyj8eMyxA#
* https://notes.interop.dhis2.org/p2jzwisCRe2ddJ9zgGgxnA#

[2020-09-10 16:19] jamlung-ri opened #328 "Metadata Browser Design - Getting Started"
- [x] List out [view templates and configuration features with mockups](https://docs.google.com/document/d/1CvMUuANGeI9I5cnLtAN3OR4YcO4H3LJYWvaYkAfPcmE/edit) (with required inputs)
    - [x] [Unfilled view templates available here](https://drive.google.com/drive/folders/1dBIdat7gRtzKgNXqqdi_Ypje_ekG6JjV?usp=sharing)
- [x] Updating the [requirements document](https://docs.google.com/document/d/17df

[2020-09-10 16:39] jamlung-ri opened #329 "ICD Mockup for Metadata Browser - Sketching out"
Using metadata browser components, mockup a display for ICD (including ICD-10 and ICD-11) as if it were configured by an OCL Browser configuration file.

[Mockup workspace](https://docs.google.com/presentation/d/1vEpVOED9kcWaFEOiPXj1do2TPXE-iAbt1lGIt8oEP_g/edit)

[2020-09-10 16:59] paynejd commented on #291
Is it standard to redirect http to https and to always change the method to
GET? It seems like we should update the proxy behavior to be more standard.
For example, perhaps we should only redirect GET/HEAD requests to http and
block all other requests to http. What is standard practice here?

On Wed, Sep 9, 2020 at 10:51 PM Sny <notifications@github.com> wrote:

[2020-09-10 17:00] #215 closed

[2020-09-10 17:02] paynejd commented on #168
Implemented in oclapi2 -- we will not modify the behavior in oclapi1. Closing this out.

@snyaggarwal Can you clarify whether any member of an org may delete the org or if only the user that created the org (e.g. the "owner") can delete the org?

[2020-09-10 17:02] #168 closed

[2020-09-10 17:02] #113 closed

[2020-09-10 17:03] #42 closed

[2020-09-10 17:04] #33 closed

[2020-09-10 17:04] #35 closed

[2020-09-10 17:04] #30 closed

[2020-09-10 17:08] #217 closed

[2020-09-10 17:13] paynejd commented on #310
@maurya Would you be willing to coordinate revising and getting input from others on a revised set of response messages?

@snyaggarwal How would you suggest that we go about reviewing and revising status codes?

[2020-09-10 17:37] jamlung-ri opened #330 "Use Case Examples of Metadata Browser"
To show the value and potential outcomes from the Metadata Browser work, example mockups will be created to show how different sets of terminology, metadata, etc. can be displayed in the Metadata Browser using content modeling and JSON configuration.

The following use cases are noted, in order of priority of mockup creation:

1. WHO, including ICD, Smart Guidelines, etc.
2. CIEL
3. Malawi
4. PEPF

[2020-09-10 17:39] jamlung-ri opened #331 "Functionality Catalog and Templates for Metadata Browser"
Create a set of views and functionalities that can be selected during Metadata Browser domain configuration.

[2020-09-10 17:45] jamlung-ri opened #332 "Requirements Document for Metadata Browser"
Define the base requirements for the Metadata Browser, which should be mostly exclusive from the Functionality Catalogue work.

[2020-09-10 17:46] jamlung-ri opened #333 "Metadata Clearinghouse"
Design, mockup, and get feedback on the concept of a Metadata Clearinghouse

[2020-09-10 17:48] jamlung-ri opened #334 "Create Functionality Catalog and Templates"
Create a first draft of the catalog. This document will function as a list of options, common components, and templates for the Metadata Browser.

[Functionality Catalog and Templates](https://docs.google.com/document/d/1CvMUuANGeI9I5cnLtAN3OR4YcO4H3LJYWvaYkAfPcmE/edit)

[2020-09-10 17:51] jamlung-ri opened #335 "Create requirements document for Metadata Browser"
[Requirements document](https://docs.google.com/document/d/17dfyvj08b7ipwKACg4rnE8MY3DBDn5Z158R9RSzdTFE/edit#)

[2020-09-10 17:55] jamlung-ri opened #336 "Create mockup for Metadata Clearinghouse"

[2020-09-10 18:14] maurya opened #337 "OCL Wordpress theme selection"
a word press site to be okayed by the architecture team from the below list -
- Hestia:
https://themeisle.com/themes/hestia-pro  / https://themeisle.com/themes/hestia/
Demo: https://themeisle.com/demo/?theme=Hestia%20Pro
- Materialis:
https://extendthemes.com/materialis/#get-materialis
https://accesspressthemes.com/theme-demos/?theme=doko&wpam_id=170

other options -
https://justfreethemes.com/the

[2020-09-10 19:05] paynejd commented on #304
Resources to support this:
* Spreadsheet with Work Plan: https://docs.google.com/spreadsheets/d/1iR5xsNVW5M7qbffc5B5wUiYc5Uk0Ju0H62HmlnOkhvs/edit#gid=123326958
* OCL Maturity Assessment: https://docs.google.com/spreadsheets/d/1g8p6o_0YtFCzxEefvRWsgcoNTHvr7ZDGpJDcSRCldsM/edit#gid=0

[2020-09-10 19:30] paynejd commented on #7
@snyaggarwal Could you describe how/if this was implemented in oclapi2? I expect we will want to expand on this functionality after oclapi2 launch. Thanks!

[2020-09-10 19:34] paynejd commented on #158
See #304 in ocl_issues.

Also see DATIM-OCL/316

[2020-09-10 19:42] paynejd commented on #211
This ticket has been broken down into lots of separate tickets and is being tracked in the `FHIR Implementation` epic. Closing this out as a duplicate.

[2020-09-10 19:42] #211 closed

[2020-09-10 19:54] harpatel1 opened #338 "Implement $lookup operation for CodeSystem"

[2020-09-10 19:55] harpatel1 opened #339 "Implement $validate-code operation for CodeSystem"

[2020-09-10 19:56] harpatel1 opened #340 "Implement $expand operation for ValueSet"

[2020-09-10 19:56] harpatel1 opened #341 "Implement $validate-code for ValueSet"

[2020-09-10 19:57] harpatel1 opened #342 "Implement $translate operation for ConceptMap"

[2020-09-10 20:00] #285 closed

[2020-09-10 20:00] #259 closed

[2020-09-10 20:00] #295 closed

[2020-09-10 20:00] #264 closed

[2020-09-10 20:00] #297 closed

[2020-09-11 03:57] snyaggarwal commented on #310
@paynejd there is no simpler/automated way to go about it. I would suggest, once the qa2 auth is up and running, we start hitting the APIs and update the response status codes wherever necessary.

[2020-09-11 04:13] snyaggarwal commented on #168
any member can delete the org.

[2020-09-11 12:39] jamlung-ri opened #343 "Requirements Document for Metadata Browser"
Define the base requirements for the Metadata Browser, which should be mostly exclusive from the Functionality Catalogue work.

[2020-09-11 12:39] #332 closed

[2020-09-11 12:49] paynejd commented on #168
This is correct behavior for now until we have implemented an upgraded permissions framework, when we will definitely want to restrict access to "org admins"

[2020-09-11 13:22] paynejd commented on #288
Not using this one - closing out

[2020-09-11 13:22] #288 closed

[2020-09-11 13:24] paynejd commented on #161
This is being tracked by the OpenMRS squad in Jira, so closing this out here

[2020-09-11 13:24] #161 closed

[2020-09-11 13:24] paynejd commented on #174
work on the subscription module is being tracked by the OpenMRS squad in their own ticketing system (Jira) -- closing this out here

[2020-09-11 13:24] #174 closed

[2020-09-11 13:26] paynejd commented on #299
Using #308 to track AWS deployment -- closing this out

[2020-09-11 13:26] #299 closed

[2020-09-11 13:33] aprilcurrier opened #344 "OCL Administrative"

[2020-09-11 15:32] paynejd commented on #326
done!

[2020-09-11 15:32] #326 closed

[2020-09-11 15:56] paynejd commented on #266
Initial dockerization completed by @bmamlin here:
https://github.com/OpenConceptLab/ocl_omrs/pull/4

[2020-09-11 15:56] #266 closed

[2020-09-11 16:14] jamlung-ri opened #345 "CIEL Mockup for Metadata Browser"
Using metadata browser components, mockup a display for CIEL as if it were configured by an OCL Browser configuration file.

[2020-09-11 16:22] jamlung-ri opened #346 "Malawi Mockup for Metadata Browser"
Using metadata browser components, mockup a display for Malawi as if it were configured by an OCL Browser configuration file.

Resources:
- Malawi OCL Repo: https://www.openconceptlab.org/orgs/mw-terminology-service/sources/
- Malawi Mockup: https://xd.adobe.com/view/240c9832-90c2-47aa-6e82-cc9efb12a387-523d/

[2020-09-11 16:31] jamlung-ri opened #347 "Process Flow for Metadata Browser Configuration"
Create a process flow for when a user wants to use published metadata to display in a Metadata Browser domain. This will include steps and assumptions in the process for getting started with the Metadata Browser and ending with a configured domain.

[2020-09-15 16:57] harpatel1 opened #348 "Fix account issue ocl_web in production"
The user michaelbontyes is not able to verify account and use OCL in production. We need to fix this account issue.

[2020-09-15 17:47] aprilcurrier opened #349 "OCL Community Site"
This epic is for ongoing updates to the OCL Community Site after the launch has been completed. This will include coming up with a plan for how we will go about doing site updates, how frequently, etc.

[2020-09-15 17:50] aprilcurrier opened #350 "Resize and Add partner logos to WP site home page banner"
On the OCL home site, the taskbar needs to be updated with OCL supporting organizations available in the Wordpress media center.

Highlighted in yellow below.

![image](https://user-images.githubusercontent.com/58441201/93246103-44b43700-f75a-11ea-9db3-1c85437f266f.png)

[2020-09-15 17:52] aprilcurrier opened #351 "Add initial content to WP site"
Approved [Site Map](https://docs.google.com/drawings/d/1sixJvn0mRjzs9HuxKd0F0V3pp1U6o067Kqrpk3g4g9Q/edit)

[2020-09-15 19:43] maurya opened #352 "Designing the common components and their content across Wordpress and oclweb"
- [ ] Menu and submenu structure - define common Header and Footer (both content and style)
- [ ] Identify where to integrate search

[2020-09-15 19:51] maurya opened #353 "documentation"

[2020-09-15 19:51] #353 closed

[2020-09-15 19:51] maurya opened #354 "OCL Documentation"
https://docs.google.com/spreadsheets/d/13OBb_lnajroEx8h8yJEk0E88RNf_OwPz67TJtcj3JM4/edit#gid=1081423030

- [ ] Review the list in Dev call
- [ ] Create  tickets for approved list in the issues

### 9/18/20

[2020-09-16 18:13] #303 closed

[2020-09-16 18:21] maurya commented on #163
Done. We have python testing and manual testing in place for FY20.

[2020-09-16 18:21] #163 closed

[2020-09-16 18:22] maurya commented on #224
Closing the epic

[2020-09-16 18:22] #224 closed

[2020-09-16 18:36] maurya commented on #337
The group selected Hestia theme as the best option to draft the new OCL marketing site
on 09/11 Architecture call - https://docs.google.com/document/d/157ChmfmYLGLEg_fO4cE7oMqtGpL4PchUkEhNfUUMxdo/edit#

[2020-09-16 18:36] #337 closed

[2020-09-16 18:37] maurya opened #355 "Community review of OCLweb2"
Goal: Redevelop what we have in a new code base - React js Material UI and add a small set of improvements.

- [ ] Identify key stakeholders from OpenMRS, PEPFAR, Apelon, Ethiopia, Malawi, WHO, OpenHIE, and define the best strategy to get feedback from them.
- [ ] Do a community engagement to see if there are any features that are  needed

[2020-09-16 18:37] #256 closed

[2020-09-16 18:38] #296 closed

[2020-09-17 13:43] paynejd commented on #261
This is not an issue in oclapi v2, so we will not fix this issue in oclapi v1. Instead, we will modify ocldev.OclExport to treat a MappingVersion as a Mapping when needed.

[2020-09-17 13:43] #261 closed

[2020-09-17 13:49] paynejd opened #356 "Implement ocldev features to import an OclExport via OCL bulk importer"
Update ocldev to convert an export of a repo version to a resource list that can be imported by the OCL bulk importer -- including the repo itself, the version, and all resources. `ocldev.OclExport.to_resource_list` (https://github.com/OpenConceptLab/ocldev/blob/master/ocldev/oclexport.py#L156) is already implemented, which returns all concepts/mappings, but mappings have `type` of `MappingVersion

[2020-09-17 13:58] paynejd commented on #306
Test bugs on oclapiv1 does not exist in colapi2
Migrate oclapi new changes to oclapi2
Bulk Import performance
CIEL dictionary
Test for Mandatory/Optional fields
Set up OpenMRS and PEPFAR client to point to oclapi2 in QA
Jon to run msp_metadata scripts to prepare PEPFAR content for import -- and to run import (tests ocldev2 and oclapi2 import)
Manual API testing
Example: what happens if there are 2

[2020-09-17 14:44] aprilcurrier opened #357 "Integrating WP links into existing ocl_web site"

[2020-09-17 14:46] aprilcurrier opened #358 "Changes to existing ocl_web site (removing static pages, updating header/footer to match WP, etc.)"

[2020-09-17 14:47] aprilcurrier opened #359 "Updating ocl_web to match selected WP theme for new site"

[2020-09-17 14:57] aprilcurrier opened #360 "Create Website content for OpenMRS x OCL MVP"
Burke to work on creating content on OCL for OpenMRS that will be included I the new OCL website.
Include feature list of OpenMRS MVP with screenshot  and narrative
Burke to share what is created with Community team

[2020-09-17 14:59] aprilcurrier opened #361 "Internal review of OCL Community Site once all content is loaded"
- [ ] Dev Call
- [ ] Arch Call
- [ ] Call with Apelon

[2020-09-17 15:03] aprilcurrier opened #362 "Testing of OCL Public Website"
Once all content is in the website community team to test the website

[2020-09-17 15:05] aprilcurrier opened #363 "Website Launch marketing"
Email or market when site goes live (what groups do you want to let know? How will we communicate?)

[2020-09-18 13:37] maurya opened #364 "Dockerize CIEL MySQL dump to OCL-formatted JSON"
- [x] Dockerized validation and conversion of zipped CIEL MySql dump from OpenMRS v1.11 to OCL-formatted JSON if CIEL external map sources are all valid in the target OCL environment - https://github.com/OpenConceptLab/ocl_omrs
- [x] Update documentation on https://docs.google.com/document/d/1YyGeCvKDuxG7ceQK0KZahPjNEj2N4EdJ01p67bIgMJk/edit#

[2020-09-18 13:37] maurya commented on #364
completed by @bmamlin

[2020-09-18 13:37] #364 closed

[2020-09-18 13:39] maurya opened #365 "Write a script to do a bulk import of updated CIEL dictionary into OCL staging and Production and generate new source version"
Bulk import of updated CIEL dictionary on OCL staging and production that includes the JSON to generate a new source version as well

[2020-09-18 13:42] maurya opened #366 "Database snapshots to automatically refresh QA and demo environments are manually updated when required."
Database snapshots to automatically refresh QA and demo environments are manually updated when required.

[2020-09-18 13:48] maurya opened #367 "Document addition of missing organizations and sources into selected OCL environments."

[2020-09-18 13:54] maurya commented on #302
As per discussion on 09/18/2020 Architecture call - @bmamlin  to write comparison script to find resources in OCL CIEL JSON export against the latest CIEL mysqldump

[2020-09-18 13:56] maurya opened #368 "CIEL import documentation"

[2020-09-18 13:56] maurya commented on #368
Completed here - https://docs.google.com/document/d/1YyGeCvKDuxG7ceQK0KZahPjNEj2N4EdJ01p67bIgMJk/edit#

[2020-09-18 13:56] #368 closed

[2020-09-18 14:07] aprilcurrier commented on #263
Status unknown rolling over

[2020-09-18 14:08] aprilcurrier commented on #294
Sent on to Andy Canter to resolve per Jon upon rollover

[2020-09-18 14:11] aprilcurrier commented on #290
Rolling over Rafal to work on in next Sprint

[2020-09-18 14:12] aprilcurrier commented on #122
No work completed rolling over

[2020-09-18 14:13] jamlung-ri opened #369 "OCL Journey Mapping - Draft Starting Document"
Mapping out the different stakeholders and their paths from getting started with OCL to having a working terminology service in place.

[Starting document](https://docs.google.com/document/d/1sEXWysXVAfgA4Z3qlxs5FlCxrfxu5iHEjL2iVHHi3Oc/edit#)

[2020-09-18 14:13] #328 closed

[2020-09-18 14:15] jamlung-ri commented on #329
Ready to close - wireframes will be drafted. See new ticket for details.

[2020-09-18 14:15] aprilcurrier commented on #300
Link to the document: https://ci.openmrs.org/browse/OCL-OF

[2020-09-18 14:15] #300 closed

[2020-09-18 14:16] jamlung-ri opened #370 "ICD and Clearinghouse Mockup for Metadata Browser - Create Wireframes"
Follow-up from #329 - Draft ICD Mockups in wireframing software Framer, using React components where possible.

[2020-09-18 14:22] aprilcurrier commented on #334
Closing out will plan to have Joe work with Jon to present findings

[2020-09-18 14:22] #334 closed

[2020-09-18 14:24] aprilcurrier commented on #310
Maurya to determine what the goal is. Currently a lack of overall approach. Want to ensure consistency and clarity for non devs.
Maurya to work with Jon.

[2020-09-18 14:26] aprilcurrier commented on #301
Work in progress Harsh to work with Rafal to understand the process and next steps

[2020-09-18 14:26] jamlung-ri commented on #336
This is ready to close. #370 is a follow-up ticket where wireframes will be created for the Metadata Clearinghouse.

[2020-09-18 14:27] aprilcurrier commented on #335
Created and will be iterated on in the future

[2020-09-18 14:27] #335 closed

[2020-09-18 14:28] #329 closed

[2020-09-18 14:30] aprilcurrier commented on #306
Rolling over to address follow-ups during next Sprint planning

[2020-09-18 14:32] aprilcurrier commented on #305
Rolling over no work completed

[2020-09-19 02:13] snyaggarwal commented on #240
This was fixed in oclapi2 as well.

[2020-09-21 07:21] snyaggarwal opened #371 "OCLAPI2 | Collection concept conflicting resource get"
In oclapi2 GET /collections/:collection/concepts/:concept/ is supported.
If multiple concepts (from different sources) with the same mnemonic are added in a collection then above API needs to have means to resolve conflicts.

Expected behavior:
Given a collection has multiple concepts with the same mnemonics.

1. GET /collections/:collection/concepts/:concept/
    Response: 409

2. GET /collection

[2020-09-21 07:22] snyaggarwal commented on #371
@paynejd this is implemented in oclapi2. Let me know if anything needs to change

[2020-09-21 12:03] harpatel1 commented on #284
Build plan is updated and now includes options to push to Test and Prod.

[2020-09-21 12:04] snyaggarwal opened #372 "Global Search - Sort resources other than concepts not working"
Right now there is no way to sort on anything by anything except concepts.

[2020-09-21 12:04] snyaggarwal commented on #372
https://github.com/OpenConceptLab/ocl_web/pull/345 fixes this.

[2020-09-21 12:08] paynejd commented on #371
Example request:
[code]

[2020-09-21 12:09] #371 closed

[2020-09-21 12:12] paynejd commented on #284
@paynejd to test today

[2020-09-21 12:13] #204 closed

[2020-09-21 12:17] #309 closed

[2020-09-21 12:39] paynejd commented on #240
@rkorytkowski Can you confirm that this ticket was fixed in oclapi v1?

[2020-09-21 12:40] paynejd commented on #122
@rkorytkowski Can you connect with @snyaggarwal to determine how to implement this within oclapi v2? This is not urgent, but we just don't want to lose track of it. We do not need to implement this in oclapi v1

[2020-09-21 12:45] paynejd commented on #291
Default behavior is to redirect from HTTP to HTTPS, and this typically is only applicable for GET and HEAD. Other HTTP methods are automatically changed to GET, and we can consider disabling the redirect for methods that are not GET and HEAD in the future. solution to this ticket is to just use `https`

[2020-09-21 12:45] #291 closed

[2020-09-21 12:53] paynejd opened #373 "Plan permissions for oclapi2"
User types to consider:
* Anonymous
* Authenticated
* Superuser - django user model; user that should be able to do everything
* Staff - django user model; someone helping to manage OCL
* `ocl_admin` - oclapi2 creates this as a superuser
* `admin` - ocl_web creates this account when launched
* `root` - ocl_web creates this account when launched
* demo user

Gathering requirements here: https://doc

[2020-09-21 12:54] paynejd commented on #373
See also: #78

[2020-09-21 19:06] paynejd opened #374 "Integrate Bamboo with Slack"
This is supported in both systems, just need to set it up

[2020-09-22 04:57] snyaggarwal commented on #26
This is fixed in oclapi2. Pagination is also implemented.

[2020-09-22 11:32] snyaggarwal commented on #101
1. Each repo version is exported to a specific path which is tied to last_child_update timestamp. So GET orgs/:org/sources/:source/:version/export will return S3 URL for exported version.
2. On delete of a repo version its exported data from s3 is not deleted.
3. Simplest way is to delete all old (if more than one for the version) exports on delete of version. Ok if I proceed?

[2020-09-22 12:20] paynejd commented on #101
Makes sense to me. @rkorytkowski ?

[2020-09-22 12:20] #26 closed

[2020-09-22 13:07] paynejd opened #375 "Add Slack Notifications for Bamboo to ci.openmrs.org"
@bmamlin and @rkorytkowski --

Is it possible to install the Slack Notifications for Bamboo widget into ci.openmrs.org?

https://marketplace.atlassian.com/apps/1213289/slack-notifications-for-bamboo?hosting=server&tab=overview

[2020-09-22 13:25] harpatel1 opened #376 "FHIR: Add support for OCL compatible url patterns for CodeSystem"
FHIR server supports fhir like url natively, for example /fhir/CodeSystem/45/.

We need add support for OCL compatible url pattens. Followings are some examples,
/orgs/HL7/CodeSystem/45/
/users/JohnDoe/CodeSystem/45/

[2020-09-22 17:12] aprilcurrier commented on #350
Closed done

[2020-09-22 17:12] #350 closed

[2020-09-23 02:40] snyaggarwal commented on #107
I couldn't reproduce this in oclapi2

[2020-09-23 03:05] snyaggarwal commented on #136
The timeout depends upon whats configured at network level (nginx proxy) for APIs.
On my local I could delete PEPFAR in ~50seconds. Assuming prod/non-prod will have more resources than my system so PEPFAR will be ok, but some other bigger orgs might still timeout. We will have to make it async just like export process.

[2020-09-23 03:07] snyaggarwal commented on #373
see also #203

[2020-09-23 03:07] snyaggarwal commented on #203
dependent on #373

[2020-09-23 12:33] jamlung-ri commented on #369
An example of one of these journey maps is available here. More journey maps can be created after planning out with others.

https://docs.google.com/presentation/d/11USGD0sfsnyfvNEJmmYEdoyoHm96YQXFfNZfHxayHUo/edit#slide=id.g9a43e2a46b_0_0

[2020-09-23 17:08] aprilcurrier opened #377 "Embed OCL Release Notes in Technical Documentation Page"
![image](https://user-images.githubusercontent.com/58441201/94045644-b9f8bb00-fd9d-11ea-8c70-c32060fd276a.png)

[2020-09-23 17:30] aprilcurrier opened #378 "Remove like buttons"
![image](https://user-images.githubusercontent.com/58441201/94047739-84a19c80-fda0-11ea-9822-2548d3ec8deb.png)

Throughout the site, there are hanging like buttons at the bottom of the pages

- [ ] Documentation > End user
- [ ] Documentation > Latest Release Notes
- [ ] OCL Tools
- [ ] OCL Tools > Terminology Service
- [ ] OCL Tools > Metadata Browser
- [ ] OCL Tools > Authoring Interface

etc.

[2020-09-23 17:33] maurya opened #379 "Incorporate Techinical Documentation"
incorporate https://docs.google.com/spreadsheets/d/13OBb_lnajroEx8h8yJEk0E88RNf_OwPz67TJtcj3JM4/edit#gid=1081423030 structure into OCL marketing site documentation

![image](https://user-images.githubusercontent.com/58441201/94048916-342b3e80-fda2-11ea-9c93-b2b14019fad6.png)

[2020-09-23 17:34] maurya opened #380 "CSV import documentation"

[2020-09-23 17:46] maurya opened #381 "OCL Help Desk approach for PEPFAR MSP/PLM"
To build upon MOH approach and standardize the support- https://docs.google.com/document/d/1YyGeCvKDuxG7ceQK0KZahPjNEj2N4EdJ01p67bIgMJk/edit
https://github.com/pepfar-datim/DATIM-OCL/issues/470

[2020-09-23 18:49] maurya commented on #310
Proposed version -

**Organization**

    DELETE_SUCCESS = "Organization '{}' successfully deleted."

**Sources**

    DELETE_FAILURE = "Source '{}' could not be deleted."
    DELETE_SUCCESS = "Source '{}' successfully deleted."
    VERSION_ALREADY_EXISTS = "Source version '{}/{}' already exists." First variable is # sourceId, second variable is  #sourceVersionId

[2020-09-23 18:51] aprilcurrier commented on #351
Inital content loaded

[2020-09-23 18:52] aprilcurrier opened #382 "Review OCL Community site metadata content and make suggestions"

[2020-09-23 19:02] maurya commented on #310
Proposed version -
**Collection**

    EXPRESSION_INVALID = "Expression '{}' is not valid."
    REFERENCE_ALREADY_EXISTS = "Concept or mapping reference name '{}' already exists." @snyaggarwal what is a reference name?
    CONCEPT_FULLY_SPECIFIED_NAME_UNIQUE_PER_COLLECTION_AND_LOCALE = "A concept's fully specified name for a locale must be unique in a collection." @snyaggarwal  Where is this error

[2020-09-24 09:13] snyaggarwal commented on #310
@maurya
`REFERENCE_ALREADY_EXISTS = "Concept or mapping reference name already exists."` -- this is a static message right now. name is not a vairable.
`CONCEPT_FULLY_SPECIFIED_NAME_UNIQUE_PER_COLLECTION_AND_LOCALE` is used while adding expressions (references) in OpenMRS schema type Collections to validate its locales with existing  concepts.

[2020-09-24 12:21] jamlung-ri commented on #382
![image](https://user-images.githubusercontent.com/55999682/94143905-75712c00-fe3e-11ea-9329-f314f37781c9.png)

Good content here, but it needs something about how users can access the data dictionaries via APIs so that their systems are always using the most up-to-date dictionaries.

Also, does the API support editing concepts and mappings? That's new to me but I might just not be aware of it.

[2020-09-24 12:24] jamlung-ri commented on #382
![image](https://user-images.githubusercontent.com/55999682/94144567-4effc080-fe3f-11ea-8c7f-8fd87f9005b2.png)

There seems to be a random search bar at the bottom of the homepage, just a heads up.

[2020-09-24 12:40] jamlung-ri commented on #382
Thoughts about the top toolbar:

 - Home
    - May want to consider renaming this since I think it's more about the organizations that are involved. Maybe instead of "Featured Metadata Browser Domains", we change that to something about Participating Organizations, which will include WHO, PEPFAR, etc. and probably link to their respective content in OCL.
 -  OCL Tools -> Metadata Browser
    - Lov

[2020-09-24 13:24] paynejd commented on #103
Example scenario:
If I have a public source, and another user references resources in my source in a private collection, and then if I try to delete my source, I'll get an error message that may describe some of the private content

[2020-09-24 15:16] aprilcurrier opened #383 "Create webpage content content for Authoring Interface and Terminology Services"
- [ ] @paynejd  to gather  Screenshot, description and link (code, hosted version, any additional info)  for Authoring Interface
- [ ] @paynejd  to gather Screenshot, description and link (code, hosted version, any additional info)  for  TS
- [ ] Load TS content into site
- [ ] Load AI content into site

[2020-09-24 18:28] harpatel1 commented on #254
@aprilcurrier Considering the time constraint this would take about couple of weeks to complete.

[2020-09-25 06:49] snyaggarwal commented on #101
Can I get AWS secret/access keys to test this out?

[2020-09-28 05:39] snyaggarwal commented on #101
This is done.

[2020-09-28 05:57] snyaggarwal commented on #136
This is now an async task.

[2020-09-28 13:08] #136 closed

[2020-09-28 13:09] #101 closed

[2020-09-28 13:37] jamlung-ri opened #384 "Document Content Import Process"

[2020-09-28 15:18] aprilcurrier commented on #354
## Prioritizing ##

FAQ/Getting started
Content loading

[2020-09-29 06:45] snyaggarwal commented on #103
I have implemented this. The error message is -- `Could not delete. Some of the content is referred privately.`

Should we show the private content mnemonics in error response? what if they are too many?

[2020-09-29 13:20] maurya opened #385 "Integrate Search into OCL Marketing Site Wordpress site"
this is a HTML form submission to: www.openconceptlab.org/search?q=[your-search-criteria]

[2020-09-29 13:39] paynejd opened #386 "Refactor lookup value schema for oclapi2"
To discuss on future Architecture call

[2020-09-29 18:41] paynejd opened #387 "Update OCL ZenHub Roadmap with content from OCL DSD/DSMR Technical Roadmap"
https://docs.google.com/document/d/1VBrH4oUM6QDnGLsV5rSrs63zfcj__tXhgo3vnWeWmLs/edit#heading=h.k2hetpm48rme

[2020-09-29 18:46] aprilcurrier opened #388 "Publish public version of OCL Technical Roadmap on new marketing site"
To include graphics and very high-level information:

Original Available at:
https://docs.google.com/document/d/1VBrH4oUM6QDnGLsV5rSrs63zfcj__tXhgo3vnWeWmLs/edit#heading=h.k2hetpm48rme

Deck slides 5 and 6:

https://docs.google.com/presentation/d/11liOAi2ZidvDsndA1WAZWLBFmf9oZPxmuIGD7XdxF_4/edit#slide=id.g993ff0de5d_0_1

[2020-09-30 12:55] maurya commented on #319
The estimate for the expected work is ~6-8 weeks. A more detailed list of changes in the following document.
https://docs.google.com/document/d/192q_eaaZFQDFpp-F0WVApHgoSggTCXqKD3wOoHgXPIA/edit
Actual “launch” consists of changing DNS to point to WordPress site - URL and subdomain for ocl web

[2020-09-30 15:48] paynejd opened #389 "Plan internationalization support for OCL v2 applications"
While user content published in OCL is highly multi-lingual, application text (menus, user prompts, error messages) is not.

We want to develop a plan for internationalization support for:
* OCL API responses
* OCL Web application text

The plan should include:
* Business requirements
* Technical approach
* Level of effort

[2020-09-30 18:30] aprilcurrier opened #390 "OCL User Support - Design and Launch"
Will include items such as designing the overall approach to providing comprehensive support to OCL user

[2020-09-30 18:32] paynejd opened #391 "Upgrade MOH alignment python scripts to Python3 and ocldev2"

[2020-09-30 18:37] maurya opened #392 "JIRA Support Plan"
Current Apelon JIRA service  - http://jira.apelon.com/servicedesk/customer/portal/8

- Make a decision on using it, hosting it, and setup processes for this.

[2020-10-01 13:40] maurya commented on #310
To Review with @paynejd and @harpatel1  -
**Collection**

REFERENCE_ALREADY_EXISTS = "Concept or mapping reference name '{}' already exists."
_CONCEPT_FULLY_SPECIFIED_NAME_UNIQUE_PER_COLLECTION_AND_LOCALE = "Concept fully specified name '{}' must be unique in a collection for the same locale."
CONCEPT_PREFERRED_NAME_UNIQUE_PER_COLLECTION_AND_LOCALE = "Concept preferred name '{}' must be unique in

[2020-10-01 14:07] aprilcurrier commented on #316
tracking is enabled. Need to add a set of emails and think through tracking of analytics.

[2020-10-01 14:11] aprilcurrier commented on #382
To include a broad overview on the Metadata browser as coming soon  page on the site as the MEtadata browser will not be available until later on

[2020-10-01 14:14] jamlung-ri commented on #382
Here is another slide deck (not finalized) that might be helpful with describing some Metadata Browser aspects: https://docs.google.com/presentation/d/1gATpxCHC7GOoXFQsYniu5VnSo4jgRlb3bLyTWWqO20I/edit

[2020-10-01 16:41] jburnsthomas commented on #363
Major user groups as well as funders and partners. Think we should ask Jon if there are certain organizations he knows of and then we can figure out was method of communication is best.

- **Someone Interested in OCL** -- interested in “marketing” info about OCL; home page should cater to this group
- **Terminology Consumers** -- largest group of users who want to search/browse terminology publish

[2020-10-01 16:44] aprilcurrier commented on #370
@jamlung-ri  any update here?

[2020-10-01 17:19] jamlung-ri commented on #370
Initial wireframes are completed, although I need a little bit of help with the search feature. Wireframes can be accessed [here](framer.com/share/Metadata-Clearinghouse--onB59TV7OytQ2Urr6McM/gaA2Wq1I2?fullscreen=1&highlights=0) or from the Metadata Clearinghouse wireframe.

[2020-10-01 19:02] maurya commented on #310
**Concept**

    OPENMRS_ONE_FULLY_SPECIFIED_NAME_PER_LOCALE = "Concept '{}' cannot have more than one fully specified name in a locale."
    OPENMRS_NO_MORE_THAN_ONE_SHORT_NAME_PER_LOCALE = "Concept '{}' cannot have more than one short name in a locale."
    OPENMRS_NAMES_EXCEPT_SHORT_MUST_BE_UNIQUE = "All names except short names must be unique for a concept and locale."
    OPENMRS_FULLY_SPECIF

[2020-10-02 11:44] rkorytkowski commented on #290
So it appears that there was inconsistency with the Solr index. I've manually saved 2 missing concepts and they started to appear in the search results. I'll rebuild the whole index once again and make sure it stays consistent.

[2020-10-02 13:19] rkorytkowski commented on #290
I confirm that after rebuilding the index the search still has the expected results. I'll close this issue. Please feel free to reopen or create a new one if you hit any more discrepancies.

[2020-10-02 13:19] #290 closed

[2020-10-02 14:05] aprilcurrier commented on #284
Waiting on Testing from @paynejd rolling over

[2020-10-02 14:08] aprilcurrier commented on #240
Not fixed in API 1. Errors reported by Century . Rolling over it needs to be fixed in API 1

[2020-10-02 14:09] aprilcurrier commented on #304
Submitted to DS on Sept 29

[2020-10-02 14:14] aprilcurrier commented on #304
the September 30 deliverables the DS DSMR award below:

-	Detailed work plan – Link
-	Technical Roadmap for development across OCL tools related to the work package – Link
-	Documentation of kick-off – Link
-	Documentation of progress on completed core OCL API Technology stack upgrades  - Link (Document), Link 1 (API Reference Documentation Evidence), Link 2 (API Code Documentation Evidence)

[2020-10-02 14:14] aprilcurrier commented on #351
70% complete upon rollover working sessions scheduled for next week

[2020-10-02 14:16] paynejd opened #393 "AWS deployment for QA2"
Overview of AWS approach -- this ticket just covers the QA deployment onto AWS:
- EC2:
  - 2x t4g.xlarge 4 CPU, 16 GB RAM 62 USD + 100 GB EBS storage 10 USD = 144 USD / month (for production and staging environments) in 2 different zones
  - 1x t4g.large 2 CPU, 8 GB RAM 30 USD + 50 GB EBS storage 5 USD = 35 USD / month (for QA and Demo environment)
  - ECS or Kubernetes (+72 USD / month)
- DB:
  -

[2020-10-02 14:17] aprilcurrier commented on #298
Have altered the approach and will not be moving forward with this. Captured in tix  #393

[2020-10-02 14:17] #298 closed

[2020-10-02 14:17] rkorytkowski commented on #240
I'm sorry it's actually been fixed. I've just verified that we no longer see those reported by sentry.

[2020-10-02 14:17] #240 closed

[2020-10-02 14:17] aprilcurrier commented on #254
Have mapped out 50% upon rollover. Will review with the group next week.

[2020-10-02 14:19] aprilcurrier commented on #302
There is a new release of CIEL which fixes some of the issues. Will implement within the next couple weeks.

Loading new CIEL in tix # TBD

[2020-10-02 14:20] paynejd opened #394 "Load Sep/Oct-2020 CIEL release into OCL"
Burke to prepare import scripts
Rafal to load into OCL

[2020-10-02 14:20] aprilcurrier commented on #263
Will complete this once new deployment is complete in AWS. ETA is end of OCT.

[2020-10-02 14:21] aprilcurrier commented on #294
Loading new CIEL should fix these issues will check on this next week.

[2020-10-02 14:23] aprilcurrier commented on #310
50% complete upon rollover. Reviewing messages and will work with Sunny once all are reviewed.

[2020-10-02 14:24] aprilcurrier commented on #272
Have begun work 10% complete upon rollover

[2020-10-02 14:26] aprilcurrier commented on #274
Both read and search operations are implemented. Harsh has tested locally and it is in working order.
Will add FHIR application in API2 once AWS has been deployed.

[2020-10-02 14:26] #274 closed

[2020-10-02 14:29] aprilcurrier commented on #301
Moving to backlog as we move to deploy to AWS ETA end of OCT Early NOV

[2020-10-02 14:30] aprilcurrier commented on #277
Both read and search operations have been implemented supports FHIR and OCL compatible URLs.

[2020-10-02 14:30] #277 closed

[2020-10-02 14:34] paynejd commented on #122
Please refer to #108 for a related ticket about implementing this via response headers.

[2020-10-02 14:35] aprilcurrier commented on #369
Next steps to review Journey mappings with the broader group prior to drafting.

[2020-10-02 14:35] paynejd commented on #108
See #122

[2020-10-02 14:35] aprilcurrier commented on #306
This will occur once deployed to AWS.

[2020-10-02 14:36] aprilcurrier commented on #376
Closing

[2020-10-02 14:36] #376 closed

[2020-10-02 14:37] paynejd commented on #115
@snyaggarwal Can you confirm that this issue is addressed in oclapi2?

[2020-10-02 14:37] aprilcurrier commented on #370
Will review this information with Jon next week and create additional ticket(s) as appropriate.

[2020-10-02 14:37] #370 closed

[2020-10-02 14:38] paynejd commented on #111
@snyaggarwal Can you confirm that this issue is addressed in oclapi2?

[2020-10-02 14:43] paynejd commented on #121
@snyaggarwal Let's discuss this on a future architecture call -- how we approach this is based on FHIR requirements. Note that this is not a requirement for launching oclapi2

[2020-10-02 14:59] #304 closed

[2020-10-05 05:00] snyaggarwal commented on #108
Now both get/post bulk-import APIs returns task state in response. The response has following data:
[code]

[2020-10-05 06:12] snyaggarwal commented on #111
Already Fixed in oclapi2

[2020-10-05 06:14] snyaggarwal commented on #115
This has been addressed

[2020-10-05 09:33] snyaggarwal commented on #103
Updated response message --
`Could not delete source “[sourceId]”. One or more resources in the source are referenced by private repositories. Contact an OCL administrator for more information.`

[2020-10-05 12:08] paynejd commented on #108
@sny can you describe what the values look like for "task state"?

On Mon, Oct 5, 2020 at 1:01 AM Sny <notifications@github.com> wrote:

[2020-10-05 12:08] #111 closed

[2020-10-05 12:08] #115 closed

[2020-10-05 12:09] #103 closed

[2020-10-05 12:15] aprilcurrier commented on #306
Jon adding to Arch and Dev agenda for further discussion/work

[2020-10-05 12:19] jamlung-ri opened #395 "Journey Map - Get feedback and continue developing journeys"
Continuing from #369. Get feedback on [OCL Journeys](https://docs.google.com/document/d/1sEXWysXVAfgA4Z3qlxs5FlCxrfxu5iHEjL2iVHHi3Oc/edit#) and continue creating journeys in the [Journey workspace](https://docs.google.com/presentation/d/11USGD0sfsnyfvNEJmmYEdoyoHm96YQXFfNZfHxayHUo/edit).

[2020-10-05 12:20] aprilcurrier commented on #388
To work on OCL COmmunity Call

[2020-10-05 12:20] paynejd commented on #388
See #158 for additional materials -- this was an older ticket

[2020-10-05 12:22] paynejd commented on #158
This is an older ticket that is a duplicate of #388 -- closing this out

[2020-10-05 12:22] #158 closed

[2020-10-05 12:31] paynejd commented on #122
#253 #259 #108 -- These all require changes in docker to function in oclapi2. @rkorytkowski is working on this

[2020-10-05 12:31] paynejd commented on #108
Work on this is continuing in #122 -- closing this out.

[2020-10-05 12:31] #108 closed

[2020-10-05 12:33] aprilcurrier commented on #107
Not Occurring in OCL API 2

[2020-10-05 12:33] #107 closed

[2020-10-05 12:34] aprilcurrier commented on #139
Waiting on est until all requirements are outlined

[2020-10-05 12:36] aprilcurrier commented on #325
Duplicate of AWS work being completed by Rafal

[2020-10-05 12:36] #325 closed

[2020-10-05 14:46] paynejd commented on #356
Plan: add a few optional params to this method that will do a few things:
* clean the resource attributes in preparation for bulk import
* change MappingVersion to Mapping (this is to address a bug in oclapi v1, and the code will be able to handle oclapi v2 as well)
* include the `Source` and `Source Version` resources

This requires that an org with the expected ID already exists

[2020-10-05 15:42] maurya commented on #378
Done.

[2020-10-05 15:42] #378 closed

[2020-10-06 13:56] paynejd commented on #290
@jamlung-ri FYI this is now fixed!

[2020-10-06 14:25] aprilcurrier opened #396 "OCL Community Site Feedback"
A place to capture feedback on the OCL website for future iterative changes

[2020-10-06 15:35] jburnsthomas commented on #396
@aprilcurrier are you looking to feedback to be captured on the site or are you talking about tracking feedback changes?

[2020-10-06 19:39] maurya commented on #310
Mapping

    MAPPING_WAS_RETIRED = "Mapping '{}' was retired."
    MAPPING_WAS_UNRETIRED = "Mapping '{}' was un-retired."
    MAPPING_IS_ALREADY_RETIRED = "Mapping '{}' is already retired."
    MAPPING_IS_ALREADY_NOT_RETIRED = "Mapping '{}' is already un-retired."
    COULD_NOT_FIND_MAPPING_TO_RETIRE = "Mapping '{}' to retire not found."
    PERSIST_CLONE_ERROR = "An error occurred while saving th

[2020-10-06 20:30] maurya commented on #310
Common -

    NOT_FOUND = "Not found."
    OK_MESSAGE = 'Okay.'
    PERSIST_NEW_ERROR_MESSAGE = "An error occurred while trying to persist new {}." - Can we include more detail on the error?
    MUST_SPECIFY_EXTRA_PARAM_IN_BODY = "Must specify '{}' param in body."
    SOURCE_PARENT_CANNOT_BE_NONE = "Source parent cannot be None."
    PARENT_RESOURCE_CANNOT_BE_NONE = "Parent resource cannot be None

[2020-10-06 20:44] maurya commented on #310
**Consolidated list -**

- All messages start and end with double quotes.
- All messages end with a period.
- Preference to show more detail instead of generic message. Version number, Concept Id and so on.
- Preference to show more detail for an error instead of generic "Error occured." message

[2020-10-07 13:52] maurya commented on #377
Added to the 10/08 community planning call. To confirm if we plan to directly post the release notes to the page.

[2020-10-07 13:53] maurya commented on #247
Prototype MVP functional. Presenting in OCL architecture call on 10/09 to decide next steps

[2020-10-07 19:54] ibacher opened #397 "Concept Count in Collections"
I've seen a couple of strange issues related to the number of concepts being reported by the OCL API v1. Hopefully these can be fixed for v2.

Steps:

I created a collection (through the OCL for OpenMRS client) to which I added 4 custom concepts. I also added a mapping to a single CIEL concept, although two of my custom concepts map to this concept (one as the SAME AS, one as NARROWER THAN). Becau

[2020-10-08 11:48] paynejd commented on #397
Thanks for reporting this @ibacher!
@bmamlin -- do we have a version of the OMRS client running against qa2? Can we test this there?

[2020-10-08 12:36] paynejd commented on #356
Committed changes to `2to3` branch of `ocldev` repo and shared details with @snyaggarwal for testing

[2020-10-08 12:37] paynejd commented on #383
Started content for authoring interface

[2020-10-08 12:44] paynejd commented on #374
@maurya - would you be able to help out with the bamboo/slack integration? This would allow us to get a notification of build status after committing code without having to sign in to bamboo to track it

[2020-10-08 14:36] maurya commented on #377
To be added as a link under documentation

[2020-10-08 15:16] aprilcurrier commented on #377
No longer relevant closing

[2020-10-08 15:16] #377 closed

[2020-10-08 16:28] paynejd commented on #352
What does it mean to provide access to the OCL Web Authoring Interface in the OCL Wordpress site:
* Search bar in the header - this simply submits the text entered via an HTML form to the search address, eg: `https://openconceptlab.org/?q=my-search-criteria-here`
* A menu item to navigate to the hosted instance of OCL -- this is just a link

Optional:
* Slider on the home page that highlights the

[2020-10-09 15:55] paynejd commented on #372
@snyaggarwal - did you already fix this for oclweb v1? and assuming you will also implement this in oclweb2?

[2020-10-09 15:57] paynejd commented on #65
@snyaggarwal Can you confirm that this was resolved in v2?

[2020-10-09 15:57] paynejd commented on #8
@snyaggarwal Can you confirm the behavior for this in v2? What is your recommendation moving forward?

[2020-10-09 15:59] #141 closed

[2020-10-09 16:00] paynejd commented on #38
FYI @snyaggarwal

[2020-10-09 16:01] #66 closed

[2020-10-09 16:02] paynejd commented on #25
@snyaggarwal Can you confirm whether this behavior was addressed in v2?

[2020-10-09 16:03] paynejd commented on #28
@snyaggarwal Did you already implement this in v2? I think I remember seeing this in the swagger documentation but I haven't tested yet.

[2020-10-09 16:04] paynejd commented on #16
@snyaggarwal Was this already implemented in v2?

[2020-10-09 16:05] paynejd commented on #40
This will be implemented as part of the oclweb2 refactor. FYI @snyaggarwal

[2020-10-09 16:09] paynejd commented on #110
See https://github.com/OpenConceptLab/oclapi/wiki/Release-Notes

[2020-10-09 16:10] paynejd commented on #110
cc @rkorytkowski @snyaggarwal @harpatel1

Can we address these items in the `oclapi2` and `oclweb2` refactor? And create tickets for any remaining activities that we will do following launch?

[2020-10-09 18:46] harpatel1 commented on #272
Priorities changed, we decided to support GET operation for all resource first and we will implement POST operation after the OCL model changes.

[2020-10-09 18:48] harpatel1 opened #398 "Update CodeSystem implementation to reflect new mapping changes"
We have partial support for GET operation for CodeSystem, this ticket is to update & add new implementation based on FHIR mapping document changes.

[2020-10-09 18:50] harpatel1 opened #399 "Update ValueSet implementation to reflect new mapping changes"
We have partial support for GET operation for ValueSet, this ticket is to update & add new implementation based on FHIR mapping document changes.

[2020-10-10 02:37] snyaggarwal commented on #372
yes this is fixed in v1

[2020-10-10 02:38] snyaggarwal commented on #65
Not yet, will be doing this in the current week.

[2020-10-12 03:02] maurya opened #400 "Create a generic support plan for MOH"
Use this as a base - https://docs.google.com/document/d/1fyrhjk_4b6kl0LKk0M3pEH-cH75lNP1Ly-7Jp-XCugM/edit?ts=5f7de76d#

- [ ]  Incorporate Jira process
- [ ] Create a summary table that outline types of issue(s) and who to contact to address (with contact information)
- [ ] Identify exactly who is in which team
- [ ] Outline clearly what types of issues would be addressed by the OCL support team
-

[2020-10-12 06:03] snyaggarwal commented on #65
Currently we have:

mapping.url --> latest version url
mapping.versioned_object_url --> mapping.uri

For example --
a Mapping exists inside `/users/admin/sources/s1/` with id (custom mnemonic) `solar-mapping`.
GET /users/admin/sources/s1/mappings/solar-mapping/
{
  "url": "/users/admin/sources/s1/mappings/solar-mapping/1815/",   # 1815 is the id of latest version of mapping, or this is latest vers

[2020-10-12 11:11] snyaggarwal commented on #110
Lets discuss this in upcoming architecture call

[2020-10-12 11:26] snyaggarwal commented on #25
This is fixed in oclapi2. The content should have a boolean `true` or `false`

[2020-10-12 11:29] snyaggarwal commented on #28
Its not yet implemented.

[2020-10-12 11:38] snyaggarwal commented on #57
this is implemented for both source and collection

[2020-10-12 11:40] snyaggarwal commented on #11
for a logged in user the global search should search in user's private sources as well, right?

[2020-10-12 11:41] paynejd commented on #57
will not implement in oclapi v1 -- closing out

[2020-10-12 11:42] paynejd commented on #25
will not implement in oclapi v1 -- closing

[2020-10-12 19:57] aprilcurrier commented on #386
@paynejd has this been discussed on a Dev/Arch call any update?

[2020-10-14 19:31] jamlung-ri opened #401 "Level 3 Material Gathering and Discussion Facilitation"
To ensure that the idea of "Level 3 Content" is well understood and that everyone is using the term the same, we need to bring together materials and hold discussions with OCL's partner organizations, the Data Exchange and Interoperability group, etc. The end goal of this is to understand exactly how OCL can support this, and possibly more importantly, what OCL will NOT support for Level 3 content

[2020-10-14 19:32] jamlung-ri commented on #401
We held a discussion in the Data Exchange and Interoperability Group call, which appears to have helped the group better understand the idea of Level 3, what materials sit in it, and what the next steps are with it.

[2020-10-15 14:26] maurya commented on #352
Metadata Clearinghouse to go to the link -  openconceptlab.org (currently)
About OCL - to have the language of the Metadata Clearinghouse
Also See if this can be added to the FAQ's

[2020-10-15 15:50] maurya opened #402 "OCL import in OCL web"
Incorporate importing into OCL in OCL web

[2020-10-15 17:31] paynejd commented on #386
Didn’t get to it last week but may tomorrow

On Mon, Oct 12, 2020 at 3:58 PM April Currier <notifications@github.com>
wrote:

[2020-10-16 11:36] paynejd commented on #305
Completed testing - code is working as expected. Ran into one issue during installation: the `setuptools` package had an issue that required manually installing a version of setuptools <46, otherwise `pip3 install -r requirements.txt` would throw an error. I resolved by doing this:
[code]

@snyaggarwal Is there an easy fix for this? Should we just specify the version number in `requirements.txt`?

[2020-10-16 11:42] paynejd commented on #316
Added admin@openconceptlab.org to the analytics account

[2020-10-16 11:49] paynejd commented on #316
After changing the theme, we will need to set up tracking in Wordpress again.

[2020-10-16 12:14] jamlung-ri commented on #369
Journey mapping work has continued, with an additional journey map being created, along with a "Terminology Management Cycle". The first draft of all of these journey maps should be completed in the next sprint, at which point more communuity feedback can be obtained.

[2020-10-16 12:15] jamlung-ri commented on #395
From #369:

[2020-10-16 12:17] jamlung-ri commented on #345
A first draft at a CIEL mockup has been created, although some refinement and finishing touches are required to complete it. Another next step is to specify a mockup "configuration" for the CIEL mockup to bridge the gap between the Template/Functionality Catalog and the mockup.

[2020-10-16 13:54] #398 closed

[2020-10-16 14:04] #369 closed

[2020-10-16 14:05] #247 closed

[2020-10-16 14:08] harpatel1 commented on #254
For CodeSystem, ValueSet and ConceptMap 75% complete on rollover.

[2020-10-16 14:10] #284 closed

[2020-10-16 14:11] harpatel1 commented on #356
80% complete on rollover.

[2020-10-16 14:12] harpatel1 commented on #305
90% complete on rollover.

[2020-10-16 14:13] harpatel1 commented on #294
@rkorytkowski Can you validate this and make sure its resolved ?

[2020-10-16 14:16] harpatel1 commented on #383
Initial content is included in website.

[2020-10-16 14:16] #383 closed

[2020-10-16 14:18] harpatel1 commented on #316
80% complete on rollover.

[2020-10-16 14:19] harpatel1 commented on #306
Need to create specific tickets for this work.

[2020-10-16 14:19] harpatel1 commented on #394
@rkorytkowski Can you provide an update on this one ?

[2020-10-16 14:20] #394 closed

[2020-10-16 14:22] harpatel1 commented on #122
Need to have discussion with @rkorytkowski  and @snyaggarwal

[2020-10-16 14:23] harpatel1 commented on #399
90% complete on rollover.

[2020-10-16 14:25] harpatel1 commented on #401
35% complete on rollover.

[2020-10-16 14:26] harpatel1 commented on #345
90% complete on rollover.

[2020-10-16 14:28] harpatel1 commented on #352
60% complete on rollover.

[2020-10-16 14:29] jamlung-ri commented on #401
Next steps:

- Level 3 Artifact gathering with PLM group
- Prepare for TS Community Call with Mike and Garrett
- Mike and Garrett speak on TS Community Call
- Host a follow-up discussion with Mike, Garrett, OCL team, Bryn Rhodes, Apelon, etc.
- Identify what roles OCL needs to play in Level 3

[2020-10-16 14:30] jamlung-ri commented on #395
Journey Maps (still a work in progress): https://docs.google.com/presentation/d/11USGD0sfsnyfvNEJmmYEdoyoHm96YQXFfNZfHxayHUo/edit

[2020-10-16 15:36] paynejd opened #403 "Compile MER v2.5 Reference Indicators (FY21)"
https://datim.zendesk.com/hc/article_attachments/360071630231/FY21_MER_2.5_Indicator_Reference_Guide.pdf

[2020-10-16 18:42] harpatel1 commented on #399
completed.

[2020-10-16 18:43] #399 closed

[2020-10-16 18:45] harpatel1 opened #404 "Ability to search codesystems by versions"
Add versioning support for CodeSystem.

[2020-10-16 18:46] harpatel1 opened #405 "Ability to search valuesets by version"
Add versioning support for ValueSets.

[2020-10-19 04:01] snyaggarwal commented on #16
Done for oclapi2

[2020-10-19 05:19] snyaggarwal commented on #305
setuptools is not required in requirements.txt. And I did not see this error while running things on local. Is it required for publishing the package to pypi?

[2020-10-19 12:10] aprilcurrier commented on #356
Need to extract out info related to course owner or collection we are exporting. @paynejd  and @snyaggarwal  to discuss.

[2020-10-19 12:14] aprilcurrier commented on #310
@snyaggarwal  to review prior to Arch call Friday  the 23rd

[2020-10-19 12:21] aprilcurrier commented on #122
@snyaggarwal  to update statuses. @rkorytkowski  to update docker. Code implementation is done in OCL API 1 and 2.

[2020-10-19 12:26] aprilcurrier commented on #403
@jamlung-ri  to see if @miclcox  is able to assist wit this again this year.

[2020-10-19 12:30] aprilcurrier commented on #360
@kaalcumm Hi is anything else needed from Burke on this page currently?

[2020-10-19 12:38] aprilcurrier opened #406 "MSP OCL e-authentication form (received 9/29/20)"

[2020-10-19 12:42] snyaggarwal opened #407 "OclWeb2 -- Initial Setup"
Initial Setup

- [x] Github Repo -- oclweb2
- [x] Docker Container
- [x] React Skeleton
- [x] Eslint
- [x] Readme

[2020-10-19 12:42] #407 closed

[2020-10-19 13:01] paynejd opened #408 "Define requirements for common mapping model"
Using this to track requirements gathering for this -- see notes from Oct 2 architecture discussion: https://docs.google.com/document/d/157ChmfmYLGLEg_fO4cE7oMqtGpL4PchUkEhNfUUMxdo/edit#heading=h.czc0hkco3jwj

[2020-10-19 13:22] paynejd commented on #65
For most mapping requests, `url` is incorrectly set to the versioned URL, and they are generally missing `version_url`. Here's how the "url" fields are supposed be used, and this needs to be consistent across the OCL API in v2:
* `url` -- This is the parent URL with no version stem: `/users/admin/sources/s1/mappings/solar-mapping/1815/`
* `version_url` -- This is the URL to a specific resource ver

[2020-10-19 17:03] jamlung-ri opened #409 "Mockup PLM View in Metadata Browser"

[2020-10-19 17:04] jamlung-ri opened #410 "Requirements Gathering for PLM View"

[2020-10-19 18:39] kaalcumm commented on #396
[Feedback Document](https://docs.google.com/document/d/1k8J02ABtooCYzISsGi8WmARQfNcihs10ST1wi2v4ki4/edit?usp=sharing) to share at 10/22 meeting.

I have also made a few updates to the Site Map by categorizing more sections to indicate they need content created.

[2020-10-19 18:42] kaalcumm commented on #360
@aprilcurrier It appears we have all the content indicated on the sitemap and nothing appears to be incomplete. I have a few notes in the feedback document (under Content for the WP site) for general strategy for the page.

[2020-10-19 19:03] aprilcurrier commented on #360
Complete per comment above closing ticket

[2020-10-19 19:03] #360 closed

[2020-10-20 13:20] snyaggarwal opened #411 "CIEL Import Dry Run with oclapi2 (on dev)"

[2020-10-20 14:07] paynejd opened #412 "Design solution for data migration issues"
Using repo exports to migrate data from v1 to v2 introduces a few challenges:
* Exports don't include users or orgs (and bulk import is missing a few features to support users/orgs/org members)
* Interim resource versions are not present in any exports and will be lost -- LOW PRIORITY FOR DATA MIGRATION
* There is no way to export HEAD -- HIGH PRIORITY
* Versioned collection references point to re

[2020-10-20 20:06] harpatel1 commented on #404
Added improved Exception handling

[2020-10-20 20:15] harpatel1 commented on #404
**Url Structures:**

- /fhir/CodeSystem/?url=http://test.org
   - Returns latest released version
- /fhir/CodeSystem/?url=http://test.org&_history=*
   - Returns All versions
- /fhir/CodeSystem/?url=http://test.org&_history=v2
   - Returns specific version (v2)
- /orgs/OCL/CodeSystem/123/
   - Returns latest released version
- /orgs/OCL/CodeSystem/123/_history
   - Returns All versions
- /orgs/OCL

[2020-10-21 03:46] snyaggarwal commented on #305
This is fixed

[2020-10-21 04:23] #372 closed

[2020-10-21 04:31] snyaggarwal opened #413 "[OCLWeb2] Implement search"
Assumptions:
1. Keeping the layout and color schemes the same as v1

Features (New + Existing):
- [x] Search results in tabular format
- [x] Sorting on each table column
- [x] Search results updatedSince filter
- [x] Ability to change results per page (25/50/100)
- [ ] Table rows to expand inline (and collapse) to reveal more information
   - Concepts Tabs:
      - [x] versions
      - [ ] Mapping

[2020-10-21 12:55] paynejd commented on #305
Thanks @sny! Are we ready to merge into master?

On Tue, Oct 20, 2020 at 11:47 PM Sny <notifications@github.com> wrote:

[2020-10-21 18:07] aprilcurrier commented on #354
Improve community support - document help desk approach; streamline community forums; implement separate OCL community/marketing site (e.g. wordpress/github pages); add landing page for devs describing how to contribute/policies/etc.; publicly post development roadmap and user documentation; implement policy for and refresh technical and API documentation

Create a framework draft
document help de

[2020-10-22 04:07] snyaggarwal commented on #305
Yes.

[2020-10-22 13:14] paynejd commented on #305
Merged!

[2020-10-22 13:14] #305 closed

[2020-10-22 15:09] paynejd opened #414 "Import CIEL Dec-2020 release"
Creating this in advance to track progress on the CIEL Nov-2020 import -- hoping to track all CIEL imports via tickets moving forward

[2020-10-22 18:55] bmamlin opened #415 "oclapi2 failing on request for concepts within a collection"
API 2 is failing with call for concepts within a collection when using the OCL for OpenMRS client. This request:

https://api.qa2.openconceptlab.org/users/burke/collections/burketest/concepts/?page=1&limit=10&q=*&sortAsc=id&timestamp=1603290338578&includeRetired=true

responds with a `500 Internal Server Error` ([full error message](https://pastebin.com/TMVfpsiU)). The corresponding call to API v1

[2020-10-23 04:04] bmamlin commented on #408
Per FHIR's [Coding](https://www.hl7.org/fhir/datatypes.html#Coding) datatype, a reference to a concept includes:
* Code System (uri)
* Version (optional version, if blank defaults to latest)
* Code
* Display (a display name, useful for the humans & to show the code to humans without having to lookup a display name)

Importantly, from FHIR documentation: "**If two codings have the same system, vers

[2020-10-23 04:06] snyaggarwal commented on #415
This is fixed. This error was due to changes in ElasticSearch Schema for making few fields sortable. Rebuilding schema fixed it.

[2020-10-23 04:17] bmamlin commented on #415
Confirmed that it is working as expected now. Thanks @snyaggarwal!

[2020-10-23 04:17] #415 closed

[2020-10-23 04:31] bmamlin opened #416 "oclapi2 error when creating a concept"
When trying to create my first concept using the OCL for OpenMRS client against API 2, I was unable to submit the form due to an error.

[code]

Returns a `400 Bad Request` with:
[code]

The same POST (differing only by UUIDs and source) succeeds on API v1.

Also, the error response seems to be formatted differently than API v1. For example, trying to create a concept with an existing OCL ID again

[2020-10-23 05:03] snyaggarwal commented on #416
description_type (and name_type) is not mandatory now in v2. This was a bug.
The structure for success and error responses ideally should be the same, but due to changes in the Django framework, it may be slightly different. Having said that I have fixed this to return the same error format as v1, the only difference is the error message itself, hope that's ok.
With v2 now you will get error for d

[2020-10-23 12:41] bmamlin commented on #416
Confirmed to be fixed within OpenMRS for OCL client, so closing ticket. Thanks @snyaggarwal!

[2020-10-23 12:41] #416 closed

[2020-10-24 00:37] bmamlin opened #417 "oclapi2 creating undiscoverable concepts"
When testing out the OCL for OpenMRS client against API v2, I was able to create some concepts, but it appears they are not getting added to the collection as expected. I think I've tracked the problem down to this:

[code]

returning a `500 Internal Server Error`
* Exception Value: Object of type FieldError is not JSON serializable
* Exception Location: /usr/local/lib/python3.8/json/encoder.py in

[2020-10-26 17:40] paynejd opened #418 "Add ability to copy the subscription URL for a source/collection"
The subscription URL for a repo is the version-less URL, eg:
* https://api.openconceptlab.org/orgs/CIEL/sources/CIEL/

[2020-10-27 07:26] snyaggarwal commented on #417
This was a strict code bug, bad queryset filtering for OpenMRS schema validation.
This is fixed and deployed to QA.

[2020-10-27 14:01] paynejd opened #419 "Add canonical_url field to source and collection"
This should be an optional URL field. Also add to the index

[2020-10-27 14:05] paynejd opened #420 "Prepare list of content from all OCL environments that need to be migrated and re-imported"
Some content will be imported from scratch and some we will migrate the entire repository. Need to determine if there are repositories where we must maintain the interim resource updates or if we can ignore those during migration.

@snyaggarwal - could you outline the list of "starter content" that is imported into a new environment? Please include users too

[2020-10-27 14:43] harpatel1 opened #421 "Add canonical_url support"

[2020-10-27 17:25] #404 closed

[2020-10-27 17:25] #405 closed

[2020-10-27 17:25] #421 closed

[2020-10-27 17:40] maurya opened #422 "FAQ on OCL website"
- [ ] Use FAQ created for Ethiopia as a starting point,
will need help from Jon, Harsh and Rafal
- [ ] What is OCL?
- [ ] How to contribute to OCL

 # Link to document- https://docs.google.com/document/d/1xImweb9V39pSeOkKYd3i8JB_f0KNcw-V/edit #

[2020-10-27 17:45] maurya opened #423 "How to contribute to OCL as a Developer"
Getting started steps and direction for a new developer to OCL

[2020-10-27 17:47] maurya opened #424 "How to contribute documentation for technical writers"

[2020-10-27 17:48] maurya opened #425 "How to contribute documentation for Testers"

[2020-10-27 19:59] paynejd commented on #413
Started some ideas below -- will complete after screenshots are posted

* Sources/Collections
  * Columns
  * Tabs
    * (?) Details -
    * Versions
* Concepts:
  * Columns:
  * Tabs:
    * (?) Details - Synonyms, Descriptions, Custom Attributes
    * Synonyms
    * Mappings
    * History
* Mappings
  * Columns
  * Tabs
    * History
* Orgs/Users
  * Columns
  * Tabs
    * Repositories

[2020-10-28 06:06] snyaggarwal commented on #413
### Screenshots:
  Concepts (default search landing page):
      Columns:
         <img width="1438" alt="Screenshot 2020-10-28 at 11 04 47 AM" src="https://user-images.githubusercontent.com/1858162/97397727-f6c15000-190f-11eb-9e24-fc3787b40367.png">
      Expanded Row:
      Versions:

<img width="1044" alt="Screenshot 2020-10-28 at 11 21 46 AM" src="https://user-images.githubusercontent.com/1858

[2020-10-28 12:06] snyaggarwal opened #426 "[OCLAPI2] Make redoc load faster"

[2020-10-28 13:15] paynejd commented on #420
Discussed with Sunny- there is very little starter content in the repo, so we need to decide what it is, starting with the content under the OCL repo. Expect we will need to make a CSV of CIEL starter content as part of this.

[2020-10-28 13:15] snyaggarwal commented on #420
currently in oclapi2:
1. lookup values
2. OCL org and ocladmin user (superuser)
3. OCLweb creates admin and root user on startup.

[2020-10-28 15:30] bmamlin opened #427 "Differences in concept json between API v2 and v1"
In testing the OpenMRS for OCL client against API v2, concepts listed have invalid links. I've tracked this down to differences between the json returned by v2 compared to v1.

For example, with this request:

`GET /users/burke/collections/test/concepts/?page=1&limit=10&q=*&sortAsc=id&timestamp=1603895889840&includeRetired=true`

API v2 returns this:
[code]

while API v1 returns this:
[code]

Here

[2020-10-28 19:53] jamlung-ri commented on #403
Michelle has been informed and has started compiling the MER guidance in [this spreadsheet](https://docs.google.com/spreadsheets/d/1_z6JJN-wC8H5hhtJPK6lB89IKOl7TLDdQcpiazbZQgk/edit). The goal is to have this done by November 6th.

[2020-10-28 19:57] jamlung-ri commented on #401
This is currently taking place in [this slide deck](https://docs.google.com/presentation/d/1fdiYwvVwlA5j-MTAgnbrwYCLXiaqvl4fp3Vp4bZPAg0/edit), where Vlad and Jorge have helped us identify some of the L3 and L4 artifacts specfic to PEPFAR.

This was completed at the 21 October 2020 TS Call. Notes: https://wiki.ohie.org/display/resources/2020-10-21+Terminology+Service+Call

These steps are still in

[2020-10-28 19:58] jamlung-ri commented on #395
A first draft of three journey maps has been completed in the link above. We should get internal feedback from OCL people, then we can distribute more broadly for community feedback.

[2020-10-28 21:23] harpatel1 commented on #338
**$lookup** operation supports both **GET** and **POST** request.
### Parameters

- system (mandatory)
- code (mandatory)
- version (optional)
- displayLanguage (optional)

### GET request example
[code]

### POST request example
[code]

[2020-10-29 03:35] snyaggarwal commented on #427
The difference is the format of the version field.
In v1 it was a BSON objectID while in v2 it's an auto-incremented integer.
But how is it making links invalid? Am I missing something?

[2020-10-29 10:14] snyaggarwal commented on #419
@harpatel1 Can you please verify this and move it to next status.

[2020-10-29 10:28] snyaggarwal commented on #427
`url` value is fixed (without version) and added `version_url` in the response.

[2020-10-29 14:33] aprilcurrier commented on #351
Most initial contents loaded working on additional feedback https://docs.google.com/document/d/1k8J02ABtooCYzISsGi8WmARQfNcihs10ST1wi2v4ki4/edit

[2020-10-29 14:33] #351 closed

[2020-10-29 15:02] jamlung-ri commented on #345
A first draft of this is complete and is ready for internal feedback.

[2020-10-29 15:07] maurya opened #428 "DNS changes to launch new site"
The actual launch changes OCL's public links over to the new AWS service. Details are here: https://docs.google.com/document/d/102y4F9fHlTQyrq0CGm85xHWDTzqJPnon_edXJIWW504/edit#bookmark=id.w402x4v8h6

[2020-10-30 12:07] bmamlin commented on #427
Confirmed to be working better in client for concepts

[2020-10-30 13:46] maurya commented on #385
done and available at : https://github.com/maurya/searchocl

[2020-10-30 13:47] #385 closed

[2020-10-30 13:54] maurya commented on #380
20% done on rollover

[2020-10-30 14:09] aprilcurrier commented on #356
@snyaggarwal  is there further work to do on this or should it be closed out?

[2020-10-30 14:13] jamlung-ri opened #429 "MER 2.5 Content"

[2020-10-30 14:14] jamlung-ri opened #430 "2.5"

[2020-10-30 14:14] jamlung-ri commented on #430
Created in error

[2020-10-30 14:14] #430 closed

[2020-10-30 14:16] aprilcurrier commented on #57
@snyaggarwal what is the process for doing reviews (e.g. something you are doing or would like to involve others)?

[2020-10-30 14:17] aprilcurrier commented on #417
@snyaggarwal  @bmamlin can this be closed or does it require additional review?

[2020-10-30 14:18] aprilcurrier commented on #419
verified by running locally by @harpatel1

[2020-10-30 14:18] #419 closed

[2020-10-30 14:18] aprilcurrier commented on #16
@snyaggarwal  can this be closed or is additional review needed?

[2020-10-30 14:22] aprilcurrier commented on #254
Initial draft complete https://docs.google.com/spreadsheets/d/1lumg1d8FX5SPN0mYqZyqfTAvJdCQbngpcZ0FTB7P6bI/edit#gid=0

[2020-10-30 14:22] #254 closed

[2020-10-30 14:25] aprilcurrier commented on #393
- To be completed: Need to deploy Web V2 and connect to API and Web to Bamboo

[2020-10-30 14:26] paynejd opened #431 "Deploy MSP on AWS and connect to oclapi2"

[2020-10-30 14:32] paynejd commented on #306
https://docs.google.com/document/d/1HhuRlbGFU_-0bDq_vXocwwodMw4GqEunFcI79mdcOyA/edit#heading=h.unkpp7np1sq3

[2020-10-30 14:36] jamlung-ri commented on #401
Gathering further information here: https://docs.google.com/presentation/d/1fdiYwvVwlA5j-MTAgnbrwYCLXiaqvl4fp3Vp4bZPAg0/edit

[2020-10-30 14:38] #338 closed

[2020-10-30 14:40] jamlung-ri commented on #345
Jon to review this: https://framer.com/share/Metadata-Clearinghouse--onB59TV7OytQ2Urr6McM?highlights=0

[2020-10-30 14:41] jamlung-ri commented on #395
Next step: Take 15-20 minutes to present these journeys on an OHIE TS Call.

[2020-10-30 14:47] aprilcurrier commented on #139
Closing to be continued in #373

[2020-10-30 14:47] #139 closed

[2020-10-30 14:47] paynejd commented on #373
Refer to #139 for some older permissions issues in oclapi1/oclweb1

[2020-10-30 14:48] aprilcurrier commented on #386
Jon adding to agenda for next week

[2020-10-30 14:50] aprilcurrier commented on #406
Example received from Hatem have needed materials to complete

[2020-10-30 14:52] aprilcurrier commented on #397
@bmamlin any further update here?

[2020-10-30 14:53] aprilcurrier commented on #397
@bmamlin is this bug fixed in OCL API 2?

[2020-10-30 19:44] bmamlin opened #432 "Difference in verbose collection between API v1 and v2"
While testing the OCL for OpenMRS client against API v2, I discovered a difference in the response to

`GET /users/burke/collections/test/?verbose=true`

Here is how the responses differ:

[code]

I assume the missing `preferred_source` is because CIEL doesn't exist on QA for API v2 right now, so can't be added as a preferred source in testing. I believe the primary issue for the client is the lac

[2020-11-02 02:52] snyaggarwal commented on #57
I think ideally the creator of the issue should close it. The review should be done by someone other than the implementor.

[2020-11-02 02:53] snyaggarwal commented on #417
This can be closed

[2020-11-02 03:16] snyaggarwal commented on #432
custom_resources_linked_source, preferred_source, respository_type and references added in response.
They were missed.

[2020-11-02 03:18] snyaggarwal commented on #356
This can be closed out. @paynejd will create a new card for mongo to postgres export-import one time script.

[2020-11-02 03:38] snyaggarwal commented on #65
Following is done for concepts/mappings:
1. url - to always point to resource URL (without version)
2. version_url - to always point to exact resource URL or the exact URL of the resource you are looking at
3. url and version_url to be always there in all responses
4. previous_version_url - to be there in /versions/ response
5. versioned_object_url - same as url not removed yet.

@paynejd If the a

[2020-11-02 03:38] snyaggarwal commented on #16
This can be closed

[2020-11-02 13:06] harpatel1 opened #433 "Deploy FHIR app in QA"
https://github.com/OpenConceptLab/oclfhir

[2020-11-02 13:10] snyaggarwal commented on #418
@paynejd Should the subscription URL be the URL from web perspective like -- https://openconceptlab.org/orgs/CIEL/sources/CIEL/
or should it be from API perspective -- https://api.openconceptlab.org/orgs/CIEL/sources/CIEL/ ?

[2020-11-02 13:20] harpatel1 commented on #301
waiting on AWS deployment.

[2020-11-02 13:21] #356 closed

[2020-11-02 13:30] aprilcurrier commented on #57
Harsh to test

[2020-11-02 13:31] aprilcurrier commented on #417
Tested by Burke closing

[2020-11-02 13:32] aprilcurrier commented on #417
@snyaggarwal  to confirm with Burke this has been tested in order to close

[2020-11-02 13:33] aprilcurrier commented on #16
@paynejd to test integration piece

[2020-11-02 13:34] aprilcurrier commented on #38
Can only be tested once the deployment has occurred for OCL Web2

[2020-11-02 13:36] #8 closed

[2020-11-02 13:37] aprilcurrier commented on #432
Looking for confirmation from @bmamlin  to close

[2020-11-02 13:40] paynejd opened #434 "Deploy staging/production to AWS"
Refer to #393 for deployment plan in QA

Deploy FHIR to staging only

[2020-11-02 13:43] aprilcurrier commented on #294
@bmamlin  doing analysis. May need new tickets when working in database again

[2020-11-02 13:45] aprilcurrier commented on #306
Jon to create a timeline to review with the team

[2020-11-02 13:49] aprilcurrier commented on #413
@paynejd  to add more requirements

[2020-11-02 14:19] paynejd commented on #413
## Mappings
* Columns
    * **Owner** (eg `user: admin` OR `org: OCL` -- using org/user icons as in oclweb1 to identify these without spelling it out
    * **Source** (instead of "Parent")
    * **From Concept**
    * **Map Type**
    * **To Concept**
    * **Release** - same as concept
    * Updated On
* Tabs
  * **History** - same as concept, should display mapping history alongside the source v

[2020-11-02 15:53] bmamlin commented on #432
Thanks @snyaggarwal. It's closer; however, it looks like `references` isn't getting populated as expected.

`GET https://api.qa2.openconceptlab.org/users/burke/collections/test/?verbose=true`

[code]

Specifically, here, I would expect `references` to be populated with the two custom concepts I created, but I'm getting an empty list.

[2020-11-02 16:11] paynejd commented on #432
In v1, references being returned when requesting a collection was actually
a bug. References should only be returned when explicitly requested using
the "includeReferences=true" parameter or with the references endpoint, eg "
/users/burke/collections/test/references/".

On Mon, Nov 2, 2020 at 10:53 AM Burke Mamlin <notifications@github.com>
wrote:

[2020-11-02 16:14] bmamlin opened #435 "Unable to PUT concept using API v2"
When testing the addition of a mapping using OCL for OpenMRS client against API v2, I discovered an error that appears related to how PUT requests are handled in API v2.

I was editing a concept to add a mapping. When submitting the form, I received the error: "A concept may not have more than one preferred name (per locale): Nose hair density (locale: en, preferred: yes) An error occurred while s

[2020-11-02 16:15] #427 closed

[2020-11-02 16:49] snyaggarwal commented on #432
Yes @paynejd is right -- this works -- https://api.qa2.openconceptlab.org/users/burke/collections/test/?verbose=true&includeReferences=true

[2020-11-02 16:54] snyaggarwal commented on #418
Example implementation:
<img width="1421" alt="Screenshot 2020-11-02 at 10 22 45 PM" src="https://user-images.githubusercontent.com/1858162/97895677-1c0fed00-1d5a-11eb-9fdf-7a1df0917916.png">

[2020-11-03 05:48] snyaggarwal commented on #435
Bad OpenMRS validation. Fixed and added test for this.

[2020-11-03 05:56] snyaggarwal commented on #122
# Possible statuses and its meanings:

## Task state is unknown (assumed pending since you know the id).
PENDING = 'PENDING'
## Task was received by a worker.
RECEIVED = 'RECEIVED'
## Task was started by a worker.
STARTED = 'STARTED'
## Task succeeded
SUCCESS = 'SUCCESS'
## Task failed
FAILURE = 'FAILURE'
## Task was revoked.
REVOKED = 'REVOKED'
## Task is waiting for retry.
RETRY = 'RETRY'
IGNORE

[2020-11-03 12:40] paynejd commented on #418
@snyaggarwal I think it's the API URL, so let's go with that for now.

Instead of a dedicated "copy URL"  button in the search results, I would think that we'd have a button on a source/collection details page that can grow to include a lot of additional functionality, like one of these: ![image](https://user-images.githubusercontent.com/1189689/97986420-aaf72680-1da7-11eb-9e80-8fd092e7318f.png)

[2020-11-03 12:44] paynejd opened #436 "Test oclapi2 potentially breaking changes"
Here's a list of potentially breaking changes identified in oclapi2:
* `references` are no longer returned when retrieving a collection, unless they are explicitly requested (eg. `/orgs/MyOrg/collections/MyCollection/?includeReferences=true`) or at the references endpoint (eg. `/orgs/MyOrg/collections/MyCollection/references/`)
* `url` and `version_url` changed for some some responses, eg mappings

[2020-11-03 12:45] paynejd commented on #65
Added this into #436 as a potentially breaking change that requires further testing outside of the scope of this ticket. Closing this one out.

[2020-11-03 12:45] #65 closed

[2020-11-03 13:00] jamlung-ri commented on #403
Michelle has finished compiling these. I will do a quick spot check on the spreadsheet, but this will be complete after that.

[2020-11-03 14:11] #16 closed

[2020-11-03 14:24] paynejd opened #437 "Import CIEL into AWS QA2"
we need some data in qa2.aws to test out the API - we can load via the bulk import api, save a snapshot, and restore for new deployments

[2020-11-03 14:30] paynejd opened #438 "Deploy MSP to qa2.aws.openconceptlab.org"

[2020-11-03 14:31] paynejd opened #439 "Research exposing FHIR HAPI UI"

[2020-11-04 15:32] bmamlin opened #440 "Internal server error when adding mapping using API v2"
While testing the OCL for OpenMRS client against API v2, I ran into an error when trying to add a mapping to a concept within a collection.

Using the OCL of OpenMRS client, I created a `test` dictionary, added two concepts (1:Nose hair density and 2:Projectile diarrhea), then tried to map one concept to the other with an "Associated with" relationship.

[code]

<details>
<summary>This returned a

[2020-11-04 18:34] maurya opened #441 "Website feedback form should send message to info@openconceptlab.org"

[2020-11-05 05:41] snyaggarwal commented on #440
Bug in OpenMRSMappingValidator. Fixed and deployed. Please verify.

[2020-11-05 11:50] paynejd opened #442 "Update API root to respond with something meaningful"
Navigating to the API root returns an error: https://api.qa2.aws.openconceptlab.org/

Let's update this to return something meaningful -- though I'm not positive what it should be. For example, GitHub returns a directory of the API: https://api.github.com/

[2020-11-06 12:53] rkorytkowski opened #443 "Fix source export on QA2"
Exporting a source on QA2 does not work. There's no sing of failure in logs, yet nothing is written to the S3 bucket. An exception must be eaten.

[2020-11-06 13:40] snyaggarwal commented on #442
Is this good?

[code]

[2020-11-06 14:52] paynejd commented on #442
yeah, that's awesome. thanks!

On Fri, Nov 6, 2020 at 8:41 AM Sny <notifications@github.com> wrote:

[2020-11-06 18:22] paynejd opened #444 "Plan how to handle "implicit value sets" in FHIR"
These are value sets that have a canonical URL defined as an attribute of a Code System that must include 100% of the codes from the code system. FHIR allows for these to be "implicit", meaning they do not necessarily have to have explicit entities created in the underlying database, though we may want to do that for other reasons (e.g. indexing, etc.).

[2020-11-10 02:46] harpatel1 opened #445 "Add core fields in OCL api"
We need to add core attributes in OCL to make it FHIR compliant.

See mapping document here:
https://docs.google.com/spreadsheets/d/1lumg1d8FX5SPN0mYqZyqfTAvJdCQbngpcZ0FTB7P6bI/edit#gid=0

[2020-11-10 02:53] harpatel1 commented on #445
### Source
#### Round 1:

[code]

#### Round 2:
[code]

### Collection

#### Round 1
[code]

#### Round 2
`experimental - boolean`

[2020-11-10 04:48] snyaggarwal commented on #443
This is fixed.

[2020-11-10 13:53] jamlung-ri opened #446 "Prepare WHO Core/FP/STI Code System Import"
Prepare WHO Extended Code System from Core, FP, and STI implementation guides for import into OCL.

Import Spreadsheet: https://docs.google.com/spreadsheets/d/1Llweofs4DLhDTA2Ea71p8jDuDwed5rQ1Eyh_XgtdZwM/edit

IGs:
- Core: http://build.fhir.org/ig/who-int/core/
- FP: http://build.fhir.org/ig/who-int/fp-cds/index.html
- STI: http://build.fhir.org/ig/who-int/sti-cds/index.html

[2020-11-10 14:16] maurya commented on #374
There is no direct integration for Slack and Bamboo as Slack doesn't support XMPP protocol that Bamboo uses https://confluence.atlassian.com/bamkb/using-slack-for-bamboo-notifications-940217744.html.

One possible solution is using  an app for bamboo  - https://marketplace.atlassian.com/apps/1213289/slack-notifications-for-bamboo?hosting=server&tab=overview that can send notifications to Slack.

[2020-11-10 14:17] paynejd opened #447 "Develop UI tests for oclweb2"
We have an existing batch of UI tests for oclweb v1. Not clear if we should refactor the existing tests or start from scratch. UI tests should be automated in Bamboo during the oclweb2 build process.

[2020-11-10 14:30] paynejd commented on #393
Remaining steps:
* Update Bamboo plan
* Deploy FHIR (#433)
* Deploy MSP (#438)
* Update docker compose to support multiple workers and celery queues (see #122)

[2020-11-10 18:01] paynejd commented on #432
@snyaggarwal - Does this query also work? `/users/burke/collections/test/references/`

[2020-11-10 20:15] paynejd commented on #445
@harpatel1 - could you add your suggestion for if/how each field should be indexed? eg. which should be individually indexed? available as facets? included in full text search?

[2020-11-11 03:23] snyaggarwal commented on #432
yes /references/ works as well

[2020-11-11 03:28] snyaggarwal commented on #442
The final one is:
[code]

[2020-11-11 12:42] paynejd commented on #39
@rkorytkowski Did you capture the search approach for extras anywhere beyond this ticket? I'm trying to find documentation, or to make sure that we get this documented soon so that Sunny can implement in oclapi2. thanks!

[2020-11-11 15:27] snyaggarwal commented on #39
I have tried to give it a shot. The query structure is a bit different in ES. Following are the examples:
Consider the following Source:
[code]
 - Following will work to get the above source in search results
`GET /sources/?extras.datim_moh_period=FY19`   # Exact match
`GET /sources/?extras.datim_moh_period=FY*`     # Starts With
`GET /sources/?extras.datim_moh_period=*FY*`   # Contains
`GET /sour

[2020-11-12 13:19] paynejd opened #448 "Implement custom attribute searching in oclapi2"
oclapi v1 implementation of custom attribute searching was completed in this ticket: https://github.com/OpenConceptLab/ocl_issues/issues/39

This functionality is not well documented currently, but we'll capture full requirements here: https://github.com/OpenConceptLab/oclapi/wiki/Custom-Attribute-Filters

Need input from @rkorytkowski on oclapi1 implementation

@jamlung-ri could you add into this

[2020-11-12 13:42] paynejd commented on #446
Next steps:
* @paynejd to review/revise
* @paynejd & @jamlung-ri to document approach and gaps
* @paynejd to convert to JSON

@jamlung-ri other next steps for this task?

[2020-11-12 14:03] paynejd commented on #448
There are 3 files in the `ocl_datim` repo that use `extras` queries:

[code]

[2020-11-12 14:32] jamlung-ri commented on #448
Here is a list of the MSP queries that contain `extras__` :

- extras__source
- extras__codelists__id
- extras__resultTarget
- extras__Reporting+frequency
- extras__indicator
- extras__pepfarSupportType
- extras__numeratorDenominator
- extras__Applicable+Periods
- extras__indicatorGroups__id

@paynejd Is this what you're looking for? If you need more context or anything, let me know!

[2020-11-12 14:42] jamlung-ri commented on #446
None from me, so long as the documentation in the spreadsheet is correct and adequately detailed. There will likely be a follow-up ticket for the actual import of this content, so I think that'll put us in good shape.

[2020-11-12 14:47] jamlung-ri opened #449 "Update MSP's "KEY UPDATES AND CHANGES" section with updated CSV"
The Key Updates have been updated in this spreadsheet: https://docs.google.com/spreadsheets/d/1Z7cMxLdyq9ZgFFOOHLMtJnVrkRk-qBO3BPOV6clsCOM/edit#gid=0 .

_Originally posted by @jamlung-ri in https://github.com/OpenConceptLab/ocl_issues/issues/403#issuecomment-721196874_

The MSP needs to be updated with the latest version of the linked CSV above, which should in turn update the Key Updates and Chan

[2020-11-12 15:03] jamlung-ri opened #450 "Level 3 Presentation - TS Role in L3"
Following up from #401. Now that documentation has been gathered, we need a more formal and comprehensive way to show our understanding of Level 3 and the role that a Terminology Service plays.

This information can be found in this slide deck: https://docs.google.com/presentation/d/1r3J_JpUvS5r2ur5WgsMZwRw3yuhnKhsC_q_oT3QuqFs/edit?usp=sharing

Other similar resources:

- https://docs.google.com/p

[2020-11-12 15:04] jamlung-ri commented on #401
A follow-up ticket for this has been created in #450.

[2020-11-12 15:11] jamlung-ri opened #451 "Test Import - Import WHO Code System into OCL for community review"
Using [this spreadsheet,](https://docs.google.com/spreadsheets/d/1Llweofs4DLhDTA2Ea71p8jDuDwed5rQ1Eyh_XgtdZwM/edit) import the WHO Extended Content code system into OCL.

Following up on #446

Next steps when this is complete:
- Get feedback on the format and look of the content in OCL - include Bryn Rhodes, Nat from WHO, and OCL community

Note: Load the concepts from the WHO CodeSystems into OCL

[2020-11-12 15:13] jamlung-ri opened #452 "Prepare 1-2 WHO code systems/value sets for loading into OCL in a FHIR format"
Once content is uploaded into OCL, create some value sets as proof of concept for the WHO Smart Guidelines terminology content.

Following up on #446

Next steps when this is complete:
- Get feedback on the format and look of the content in OCL - include Bryn Rhodes, Nat from WHO, and OCL community
- Provide code system and value sets to @harpatel1 to guide FHIR development

[2020-11-12 15:16] jamlung-ri opened #453 "Compile FHIR value sets"
WHO Smart Guidelines Implementation Guides contain many more value sets, apart from the 1-2 created for #452. These additional value sets need to be compiled so that they can be loaded into OCL.

Note: We are hoping to start this around early 2021.

[2020-11-12 15:17] jamlung-ri opened #454 "Load FHIR value sets"
Once FHIR value sets have been compiled, they will be loaded into OCL.

Note: We are hoping to start this around early 2021.

[2020-11-12 15:25] jamlung-ri opened #455 "FHIR Terminology Bindings - Plan how OCL will publish"
In WHO Smart Guidelines implementation guides (IGs) and other FHIR IGs, there are references to value sets and code systems that were NOT explicitly defined for the IG, but instead have their own purpose and are simply reused in the IGs. In some cases, OCL will need to have this content loaded.

Three ways we have currently identified:

Approach | Pros | Cons
-- | -- | --
Import the   entire Code

[2020-11-12 15:26] jamlung-ri opened #456 "ICD10 Modeling"
Need to plan out how we want ICD10 to be modeled and loaded into OCL.

[2020-11-12 15:29] jamlung-ri opened #457 "Compile a proposed list of value sets to import from HL7"
Need to determine criteria for the code systems and value sets that we will import.

Short term:
- [x] Terminology bindings from WHO IG (Joe)
- [x] Referenced by PLM resources (Jon)

Medium to long term
- [x] Normative value sets from FHIR? (Medium term?)
- [ ] All? (Long term?) (https://www.hl7.org/fhir/terminologies-systems.html, https://www.hl7.org/fhir/terminologies-valuesets.html)

Once this

[2020-11-12 15:35] jamlung-ri opened #458 "Content Preparation, Import, and Publication"
Multiple sources, types, etc. of content are required to be loaded into OCL as proof of concept and to be published for use. Any epics or tickets related to importing content should be placed under this epic.

[2020-11-12 15:39] jamlung-ri opened #459 "PLM Terminology Content Import"

[2020-11-12 15:41] jamlung-ri opened #460 "Finalize PLM/DASH community publication documentation"
Determine what PLM content to model and load into OCL.

This may include:
- PLM Indicator, Data Element, and Category Option + aggregation directives
- QMAPs
- Other?

[2020-11-12 15:42] jamlung-ri opened #461 "Outline for community publication of PLM content (for feedback)"

[2020-11-12 15:43] jamlung-ri opened #462 "Outline content maintenance plan"

[2020-11-12 17:34] paynejd opened #463 "Summarize all new features/breaking changes in oclapi2/oclweb2 & infrastructure as release notes and change log"
We need to compile a complete list of new features in oclapi2, oclweb2 and our new AWS infrastructure.
cc @snyaggarwal @rkorytkowski @harpatel1 @maurya @bmamlin

@aprilcurrier - if you could put together a list of completed tickets from ZenHub related to these epics, that may be a huge help

Bullet points can be brief, but we want to cover as much of the new features as possible.

## New Features:

[2020-11-13 13:24] paynejd commented on #448
* Does an attribute exist?
* Case sensitivity
* Spaces in a value/search criteria (eg `extras__Applicable+Periods="FY18 19" FY17`)
* Space in the attribute name (eg `extras__Applicable+Periods`)

Changed from `__` to `.`
Changed `!=` to `=!`

[2020-11-13 13:55] maurya commented on #374
ITSM-1237 created in OpenMRS helpdesk to add the application to bamboo

[2020-11-13 14:34] maurya commented on #352
Metadataclearing house content page, sign in page, search bar to head to Openconceptlab search added to the website

[2020-11-13 15:01] #339 closed

[2020-11-13 15:03] harpatel1 commented on #341
close by EOD.

[2020-11-13 15:03] jamlung-ri commented on #395
I received some internal feedback from Jamie, Kasey, April, Michelle, Jennifer Shivers, and others about this, and I have incorporated the feedback for the most part. I would like if Jon can review this too, then we can put this out there to a broader audience.

[2020-11-13 15:03] maurya commented on #374
50% completed rollover

[2020-11-13 15:05] maurya commented on #310
@snyaggarwal any update on this?

[2020-11-13 15:18] jamlung-ri commented on #410
In progress, ~40% complete, moving to Sprint 42. Need to compile into a more formal document so that PLM people can comment.

[2020-11-13 15:18] aprilcurrier commented on #406
To be discussed with Alicia and Annah on 11/13 call

[2020-11-13 15:19] aprilcurrier commented on #442
reviewed on Devcall

[2020-11-13 15:19] #442 closed

[2020-11-13 15:20] #401 closed

[2020-11-13 15:20] aprilcurrier commented on #417
Burke Mentioned on a call this is working

[2020-11-13 15:21] #417 closed

[2020-11-13 15:27] aprilcurrier commented on #352
To be continued with the design

[2020-11-13 15:27] #352 closed

[2020-11-13 15:27] maurya opened #464 "Create a documentation repo with Sphinx and read the docs integration"

[2020-11-13 15:28] aprilcurrier opened #465 "Initial OCL Web Design"
Tim to work on the design of OCL website

[2020-11-13 15:33] paynejd commented on #403
Loading MER v2.5 Reference Indicators will be continued here:
https://github.com/pepfar-datim/DATIM-OCL/issues/821

Updating Key Updates/Changes will be continued in #449

[2020-11-13 15:33] #403 closed

[2020-11-13 15:34] #446 closed

[2020-11-13 15:36] aprilcurrier commented on #393
Aiming for completion next week

[2020-11-13 15:40] aprilcurrier commented on #306
Expect to be complete next week

[2020-11-13 15:40] aprilcurrier commented on #433
Rafal is working on it

[2020-11-13 15:42] aprilcurrier commented on #413
Initial Implementation complete. New work to be continued in an additional ticket

[2020-11-13 15:42] #413 closed

[2020-11-13 15:42] #418 closed

[2020-11-13 15:45] aprilcurrier commented on #388
Link to the Document: https://docs.google.com/document/d/1dsD_PFnpqHip-cdAYBMA4YN5Ho9S4cmtlihsPPzeOLk/edit#

[2020-11-13 15:47] aprilcurrier commented on #408
Have been continuing to discuss on Arch call

[2020-11-13 15:54] aprilcurrier commented on #397
@snyaggarwal  is this complete?

[2020-11-13 15:55] aprilcurrier commented on #96
@snyaggarwal  any update?

[2020-11-13 15:56] paynejd opened #466 "Feedback on oclweb2 - round 2"
First round implementation of oclweb2 search was captured in #413. This ticket will capture the next round of work.

[2020-11-13 16:01] paynejd commented on #386
We discussed in an architecture call, but have more to discuss -- Rolling over for now and adding to a future agenda.

[2020-11-13 16:15] snyaggarwal commented on #96
This will be part of oclweb2. Will have to wait for web2 to reach that stage.

[2020-11-13 16:15] snyaggarwal commented on #397
This is working fine in oclapi2

[2020-11-13 16:50] aprilcurrier commented on #397
@paynejd  can this be closed?

[2020-11-13 16:57] paynejd commented on #406
Submitted -- any additional work on this will be captured in other tickets

[2020-11-13 16:57] #406 closed

[2020-11-13 20:25] aprilcurrier commented on #355
Will need a plan around this.

[2020-11-13 20:35] paynejd commented on #436
duplicate of #463 -- closing this out

[2020-11-13 20:35] #436 closed

[2020-11-13 21:18] jburnsthomas commented on #465
Tim is working transition and build out branding docuemnt. This week he worked on loading Divi Builder into WordPress that will make editing content and working in the WP theme easier. There was a loading issue which he will need to do some research on. He also created a “child theme” that inherits the Hestia theme. Is on track to finish this initial set of work next week; homepage, a sub-page, he

[2020-11-15 17:49] paynejd opened #467 "Implement source/collection summary tab on their details page"
Let's implement a source/collection summary tab on the source/collection details pages. Let's start with something simple that does not require significant effort to create. We can improve iteratively over time.

Here's a basic example from the CIEL dictionary that Andy Kanter recently presented:
![image](https://user-images.githubusercontent.com/1189689/99191793-0aa4e880-273d-11eb-9162-4994f75c52

[2020-11-16 05:05] snyaggarwal commented on #310
Below are the replies:

Collection -
Questions -

REFERENCE_ALREADY_EXISTS - What is a reference name ? Where is it used? -- This is thrown when a concept/mapping URL (reference) is added to collection and it already exists in the collection.
DELETE_FAILURE - Can we provide causes for failure ? to make it more clear -- when we try to delete a collection and it fails the primary response is the exc

[2020-11-16 07:01] snyaggarwal commented on #448
# Below works:

### Attribute Exists:
`/sources/?extras.exists=datim_moh_country_code` # single attr exists
`/sources/?extras.exists=datim_moh_country_code,datim_moh_period` # multiple attrs exists
`/sources/?extras.exists=datim_moh_country_code,datim_moh_period&extras.datim_moh_object=false` # multiple attrs exists with extra attr value search

### Space in attribute name:
`/sources/?extras.foo b

[2020-11-16 12:47] #341 closed

[2020-11-16 12:54] harpatel1 opened #468 "FHIR - handle large code system requests"
We need to come up with a approach when it comes to GET requests for large code systems. For example PEPFAR has about 20,000 concepts and it is not realistic to return all concepts on a same GET request. We need to figure out right approach and implement solution. One option could be Pagination support but we need do to research on how Hapi Fhir handles pagination and how to integrate it in our ap

[2020-11-16 13:01] snyaggarwal commented on #440
@bmamlin can we close this?

[2020-11-16 13:02] snyaggarwal commented on #435
@bmamlin can we close this?

[2020-11-16 13:14] snyaggarwal opened #469 "[OCLWEB2] Concept/Mappings/Source/Collections/Orgs/Users Details"
- [x] Concept
- [x] Mapping
- [x]  Source
- [x] Collection
- [x] Org
- [x] User

[2020-11-16 13:15] harpatel1 opened #470 "Import PEPFAR locally for FHIR testing"

[2020-11-16 13:20] snyaggarwal commented on #443
@rkorytkowski Can we close this?

[2020-11-16 13:21] #25 closed

[2020-11-16 13:23] snyaggarwal commented on #402
waiting for #122 to finish.

[2020-11-16 13:25] rkorytkowski commented on #393
Remaining:
Deploy FHIR (#433)
Update docker compose to support multiple workers and celery queues (see #122)

[2020-11-16 13:25] rkorytkowski commented on #438
Done!

[2020-11-16 13:25] rkorytkowski commented on #438
msp.qa2.aws.openconceptlab.org

[2020-11-16 13:27] rkorytkowski commented on #433
Hit an issue with DB connection. I should address it today.

[2020-11-16 13:27] aprilcurrier commented on #38
Waiting to import content. WebUI

[2020-11-16 13:32] #301 closed

[2020-11-16 13:39] aprilcurrier opened #471 "Case Sensitive Search with extras attribute"
There are 3 files in the ocl_datim repo that use extras queries:

/ocl_datim/common.py:
   50          'limit': '0',
   51          'verbose': 'true',
   52:         'extras__datim_moh_object': 'true'
   53      }
   54      if period_filter:
   55:         request_params['extras__datim_moh_period'] = ','.join(period_filter)
   56      if country_code_filter:
   57:         request_params['extras_

[2020-11-16 13:40] aprilcurrier commented on #448
Jon to capture on the wiki continued in #471

[2020-11-16 13:40] #448 closed

[2020-11-16 14:58] rkorytkowski commented on #433
Done: https://fhir.qa2.aws.openconceptlab.org/fhir/CodeSystem
Made a couple of adjustments in FHIR: https://github.com/OpenConceptLab/oclfhir/commit/75c8c18c5fa65681dd5ba8b348a5adab2d128efb
and
https://github.com/OpenConceptLab/oclfhir/commit/045490b17881b6231eea507a5c388c86e86f2519

[2020-11-16 14:59] rkorytkowski commented on #433
@harpatel1 please verify if it works as expected

[2020-11-16 20:13] aprilcurrier commented on #463
Doc with Closed Tix https://docs.google.com/document/d/1H-mD6N0Tg2NEW_hzEM_F4X5V3i5irefPS_jpNwsgizA/edit

[2020-11-17 13:23] snyaggarwal commented on #463
### New features so far:
1. API for listing mappings for a concept version #16
2. Delete cached exports when deleting repos/repo versions/orgs #101
3. Async org delete (to handle large org delete, 504 timeout) #136
4. Allow staff or org member to delete their org #168
5. Collection concept conflicting resource get #371
6. Add canonical_url field to source and collection #419
7. Update API root to

[2020-11-17 14:04] #122 closed

[2020-11-17 14:19] paynejd opened #472 "Provide response for naked fhir request"
Currently https://fhir.qa2.aws.openconceptlab.org/ returns a 404, though https://fhir.qa2.aws.openconceptlab.org/fhir/ returns a JSON response informing the client that this is the "base" of the FHIR service. Let's decide what the response to https://fhir.qa2.aws.openconceptlab.org/ should be and implement.

[2020-11-17 14:23] paynejd commented on #411
@snyaggarwal is this now a duplicate of #437?

[2020-11-17 14:27] paynejd commented on #210
@snyaggarwal @rkorytkowski Bringing this ticket back to the top as we get ready for some big bulk imports

[2020-11-17 14:45] paynejd opened #473 "Design mappings details page for oclweb2"

[2020-11-17 14:51] snyaggarwal commented on #411
Yes

[2020-11-17 14:52] #411 closed

[2020-11-18 19:29] jamlung-ri commented on #450
This was presented on the OHIE TS Call today. Notes are available here: https://wiki.ohie.org/display/resources/2020-11-18+Terminology+Service+Call

[2020-11-19 00:52] bmamlin commented on #294
I've enumerated the extra mappings for CIEL within OCL staging and production environments and deleted (retired) them. These have been released as a new v2020-09-27 on staging. Four concepts (3 concepts & 1 retired concept) need to be reindexed/fixed on production before I can update v2020-09-27 there:

<details>
<summary>4 concepts to fix on production</summary>

[code]
</details>

@rkorytkowski

[2020-11-19 07:26] maurya commented on #464
Created the repo here - https://github.com/OpenConceptLab/ocl-docs
Read the docs is available here - https://ocl-docs.readthedocs.io/en/latest/

Any update to the github repo through commits will be updated in readthedocs through webhooks

[2020-11-19 16:18] maurya opened #474 "MOH Uganda issue"
TZ - Hi @Jonathan Payne :
It looks like OCL server is down.
I just got this response when pulling mappings in indicator mapping app:
{“x-mediator-urn”:“urn:mediator:openhim-mediator-authenticator”,“status”:“Failed”,“response”:{“status”:500,“headers”:{“content-type”:“application/json”},“body”:{“status”:“Error”,“message”:“500 Server Error: INTERNAL SERVER ERROR for url: https://api.openconceptlab.or

[2020-11-19 16:18] maurya opened #475 "MOH FY20 support"

[2020-11-19 16:19] #474 closed

[2020-11-19 16:23] maurya opened #476 "MOH FY20 Lesotho issue"
JK - I'm not sure if something broke again since I uploaded Uganda, but Lesotho just reported the same issue, and I can reproduce this
HC  - There seems to be an issue with https://ohie.datim.org/. @Maurya will you be able to check if openhim core is running?
I'm getting An error occurred while attempting to connect to the OpenHIM Core on https://ohie.datim.org:8080. when trying to login and see t

[2020-11-19 16:27] maurya opened #477 "MOH OCL IMAP mediator status 404"
PH- Hi @Maurya when a country uploads a file in the Data Import app but the country has not submitted any mappings, a status code 404 should be returned from the ocl-imap meditator, but we are getting 500 instead.  Would you please have a look?
Response body
[code]
MK - Hi @pinghuang, yes, I saw that earlier, it needs a mediator code change, I will update the mediator and deploy the changes to sho

[2020-11-19 16:28] maurya commented on #477
fix updated in https://github.com/pepfar-datim/openhim-mediator-imap-import

[2020-11-19 16:32] maurya opened #478 "MOH FY 20 SSD data discrepency error"
AS - @Jonathan Payne/ @Maurya Tom is unavailable and I am not sure if you can help me to resolve this issue. South Sudan reported that the mappings for PMTCT status did not change after they clicked the submit button. I tried clicking the submit button again to verify if I can submit it for them, but when I checked again, all the mappings disappeared. Can we reload the mappings back in OCL before

[2020-11-19 18:54] paynejd opened #479 "Add validation for trailing/preceding whitespace in IMAP IDs"
An IMAP with a trailing/preceding space in an ID will appear to be imported correctly, but mappings associated with that ID will still not be. Need to add validation and throw a validation error if this is found in the future

[2020-11-19 21:22] paynejd commented on #478
Turns out that this error occurred due to a preceding space in MOH Indicator ID. The import works as expected if the space is removed. Tickets have been created to add validation to catch this in the mAppr app and in the OCL IMAP import script.

[2020-11-19 21:22] #478 closed

[2020-11-20 02:30] bmamlin commented on #375
Now that we're migrating to AWS, is this still needed?

[2020-11-20 13:54] paynejd commented on #408
Current model treats internal and external mappings differently, which means lots of things:
- Clients must implement additional logic to handle them as the OCL API expects
- It prevents a user from deleting content that someone else has mapped to or referenced in a collection
- If content is loaded that a user has made an “external” mapping to, the OCL API isn’t smart enough to know that the mapp

[2020-11-20 15:03] paynejd commented on #408
MVP goals:
* Support FHIR round 1
  * Support specifying version of a CodeSystem/ValueSet in a mapping
* Move toward dropping internal/external, incl. support for referring to CodeSystems/ValueSets using canonical url
* MVP approach should not introduce breaking changes

MVP+ goals:
* Support FHIR round 2 - full CRUD for ConceptMaps, plus introducing lots of new FHIR capabilities

[2020-11-23 08:09] snyaggarwal commented on #445
@harpatel1 Added all the round 1 fields. Please verify.

[2020-11-23 10:02] snyaggarwal commented on #210
### Importers app now has the following additional routes:
#### for direct file upload
`POST /importers/bulk-import/upload/` # Doesn't work with big files like CIEL (80+mb)
#### for direct file URL (HTTP(s) based URL from s3 or github or anywhere).
`POST /importers/bulk-import/file-url/` #Does work with bigger files like CIEL. Current limitation is at 100mb.

[2020-11-23 14:06] paynejd commented on #210
@sny- can you clarify how these endpoints are different? Is `file_url`
streaming?

On Mon, Nov 23, 2020 at 5:02 AM Sny <notifications@github.com> wrote:

[2020-11-23 14:24] jamlung-ri commented on #410
Jon and I met to discuss these requirements, and we are starting to gather them more formally for comment.

These requirements are being put together in this slide deck: https://docs.google.com/presentation/d/1p8LUkwrCLy9XIS21YKaR8csa-dsTYqtdBrmgXbY1vSw/edit

[2020-11-23 14:38] snyaggarwal commented on #210
`file_url` is where you specify import file HTTP link e.g. - https://github.com/OpenConceptLab/oclapi2/blob/master/core/samples/ciel-2020-09-27.ndjson?raw=true

that avoids the issue of uploading the file from client or pasting content in the import call. So bigger imports can directly be passed to import API as HTTP link (s3 or anywhere) and the API will fetch it and start importing.

[2020-11-23 17:59] jamlung-ri commented on #457
Terminology bindings for WHO Smart Guidelines and for PLM have been compiled in this spreadsheet in the "Pivot" tab. https://docs.google.com/spreadsheets/d/1g1PfEkwmiK7fg3Okn2npZa7_f_LM5mz8xj8X8eurb8o/edit?usp=sharing

This includes terminology bindings found in the WHO [Core](http://build.fhir.org/ig/who-int/core/), [FP](http://build.fhir.org/ig/who-int/fp-cds/index.html), and [STI](http://build.

[2020-11-23 17:59] jamlung-ri commented on #457
Next step - List out normative FHIR value sets

[2020-11-24 14:42] jamlung-ri opened #480 "Explore Branding Requirements for Metadata Browser"
Features for custom branding of the Metadata Browser need to be documented so they can later be grouped and prioritized.

An initial document for this has been started [here](https://docs.google.com/document/d/1aquJzkRdtZ-OtDl_KfIk_RRs5yx32lJBalKqXWLuCac/edit).

[2020-11-30 10:30] snyaggarwal opened #481 "[OCLWEB2] User Login and Logout"

[2020-11-30 12:39] paynejd commented on #438
Confirmed that this is successfully deployed. Testing for MSP will take place in other tickets.

[2020-11-30 12:39] #438 closed

[2020-11-30 12:43] paynejd commented on #433
Confirmed that this is deployed - further work to take place in separate tickets

[2020-11-30 12:43] #433 closed

[2020-11-30 12:48] paynejd commented on #38
This works as expected based on requirements, however users are typically more concerned with the business revision date (which is a new manually set field of a source/collection version) rather than the specific resource updated timestamp. I'll close this ticket out and create a new ticket in the backlog to support this new feature.

[2020-11-30 12:48] #38 closed

[2020-11-30 12:50] paynejd opened #482 "Implement sorting of search results by business revision date"
See #38 - @snyaggarwal implemented the ability to sort search results by `updated_on`. This works as expected, however users are typically more concerned with the business revision date (which is a new manually set field of a source/collection version) rather than the specific resource updated timestamp.

[2020-11-30 12:56] harpatel1 commented on #470
Most of data imported locally. This can be closed. Since we have FHIR deployed in qa, we'll be using qa for testing.

[2020-11-30 12:56] #470 closed

[2020-11-30 13:01] jamlung-ri commented on #410
Some further changes are required, but these requirements are otherwise complete and ready for mockup.

[2020-11-30 13:03] jamlung-ri commented on #457
Some minor changes are needed but this is otherwise complete. Follow-up needed: repeat this process with Code Systems.

[2020-11-30 13:04] jamlung-ri opened #483 "Code System Import List"
Following up on #457, repeat the process with a Code System focus instead of a value set focus.

Inventory Document: https://docs.google.com/spreadsheets/d/1g1PfEkwmiK7fg3Okn2npZa7_f_LM5mz8xj8X8eurb8o/edit

[2020-11-30 13:04] maurya commented on #476
Completed

[2020-11-30 13:04] #476 closed

[2020-11-30 13:05] maurya commented on #477
Done but not clear if this will be installed in this iteration

[2020-11-30 13:06] jamlung-ri commented on #395
Jon and I spoke about these, and there is feedback to incorporate. After that is complete, the journeys can be put out for feedback among the broader audience.

[2020-11-30 13:07] aprilcurrier commented on #210
@rkorytkowski  please review

[2020-11-30 13:07] maurya commented on #464
1. To develop documentation on how to update documentation
2. Consolidate all github documentation into this format

[2020-11-30 13:07] harpatel1 opened #484 "Implement custom FHIR conformance statement"

[2020-11-30 13:09] aprilcurrier commented on #469
Closing and creating a ticket for feedback capture

[2020-11-30 13:09] #469 closed

[2020-11-30 13:10] jamlung-ri opened #485 "Journey Map - Incorporate feedback"
Following up on #395, there is feedback to incorporate into the [Journey Maps](https://docs.google.com/presentation/d/11USGD0sfsnyfvNEJmmYEdoyoHm96YQXFfNZfHxayHUo/edit).

Next step is to put these journeys out for broader feedback.

[2020-11-30 13:11] #395 closed

[2020-11-30 13:11] harpatel1 opened #486 "Add OCL core fields for round 1 in FHIR app"
Round 1 fields have been added in OCL and we need to include them in FHIR app and update the content to load from this new fields.
Round 1 core fields are located here - https://github.com/OpenConceptLab/ocl_issues/issues/445

[2020-11-30 13:12] aprilcurrier commented on #397
@bmamlin  can you confirm for OpenMRS client?

[2020-11-30 13:12] maurya commented on #441
Tested with @paynejd, still not forwarding the data, rolling over

[2020-11-30 13:13] maurya commented on #374
75% completed and rolling over - Got feedback from OpenMRS team that the plugin has been installed, will test and confirm

[2020-11-30 13:13] aprilcurrier commented on #345
Joe to create additional metadata browser mockup review

[2020-11-30 13:13] #345 closed

[2020-11-30 13:15] #432 closed

[2020-11-30 13:15] jamlung-ri opened #487 "Mockups for Metadata Browser - Continued Iteration"
Following up on #345, continue reviewing and iterating on Metadata Browser Framer Mockups.

Link: https://framer.com/share/Metadata-Clearinghouse--onB59TV7OytQ2Urr6McM?highlights=0

[2020-11-30 13:16] aprilcurrier commented on #457
to be continued in an additional ticket

[2020-11-30 13:16] #457 closed

[2020-11-30 13:17] aprilcurrier commented on #393
follow up tix for staging and environment

[2020-11-30 13:17] #393 closed

[2020-11-30 13:18] harpatel1 commented on #340
Supported fields:
- url
- valueSetVersion
- offset
- count
- includeDesignations
- includeDefinition
- activeOnly
- displayLanguage
- exclude-system
- system-version
- filter (double underscore separated code values, it matches any code that contains given filter and it's case sensitive match)

[2020-11-30 13:19] paynejd opened #488 "Testing and feedback on read-only portions of oclweb2"
An initial version of all read-only portions of the new oclweb2 client have been implemented. We are ready for the team to begin testing and providing feedback. Testing and feedback should be comprehensive with respect to functionality, and we are also interested in collecting feedback on the site design, including theme, styles, layout, user experience etc.

[2020-11-30 13:21] aprilcurrier commented on #437
@snyaggarwal  running PEPFAR import today. In QA now small dictionary with 107 concepts in QA now, CIEL with 9k mappings

[2020-11-30 13:21] #340 closed

[2020-11-30 13:24] aprilcurrier commented on #477
Closing out to be continued in another ticket when this is deployed in March 2021

[2020-11-30 13:24] #477 closed

[2020-11-30 13:25] aprilcurrier commented on #310
@paynejd  and @maurya  to discuss at a check-in

[2020-11-30 13:29] #410 closed

[2020-11-30 13:34] aprilcurrier commented on #306
To discuss on tomorrows Dev call

[2020-11-30 13:35] aprilcurrier commented on #408
To be discussed on Arch call

[2020-11-30 13:43] aprilcurrier commented on #386
Adding to queued topics on arch call

[2020-11-30 13:43] aprilcurrier commented on #386
to tackle early 2021

[2020-11-30 13:44] aprilcurrier commented on #422
50% complete upon roll over

[2020-11-30 13:45] paynejd commented on #294
From Rafal:

@paynejd confirmed that each of these concepts now return valid results. Closing this out.

[2020-11-30 13:45] #294 closed

[2020-11-30 13:47] aprilcurrier commented on #434
Expect to be completed sprint beginning week of 11/30

[2020-11-30 13:56] paynejd opened #489 "AWS funding plan"
Currently AWS hosting is being funded out of pocket and not through any grant mechanism. This is a short-term strategy, and this ticket will be used to track progress on making a long-term decision.

[2020-11-30 13:57] paynejd opened #490 "Draft SOW for UI developer"
https://docs.google.com/document/d/1yZmhoKpvYnqRvulLR-KnEO73qlYjxPFR2VzVic7HK6w/edit#

[2020-11-30 14:10] maurya opened #491 "Capture how to document release notes in Sphinx"

[2020-11-30 14:25] aprilcurrier commented on #490
Hire decision by Jan

[2020-11-30 14:25] harpatel1 opened #492 "Prepare for demo of FHIR app on 12/04/2020"

[2020-11-30 14:29] paynejd commented on #431
Duplicate - closing out

[2020-11-30 14:29] #431 closed

[2020-12-01 06:12] snyaggarwal opened #493 "Record Login time for a user."
using django user model `last_login`

[2020-12-01 09:32] snyaggarwal opened #494 "[OCLWEB2] Signup & Forgot Password"
### Tasks:
1. Signup Form (Same as v1)
2. Add capcha
3. Existing POST /users/ API doesn't send out an email for verification. Override as well via superuser/admin
4. Forgot password Form (Same as v1)
5. new Forgot password API.
6. Add capcha
7. new Reset password API.

### Questions
@paynejd -- oclweb used to send out an email for action on new user signup/forgot-password, that job will be with oc

[2020-12-01 19:39] maurya commented on #464
How to contribute documentation added to - https://github.com/OpenConceptLab/ocl-docs

[2020-12-01 19:41] maurya commented on #374
integration with two deployments `ocl api 2` and `ocl web 2` in `ocl-dev` slack channel for testing. Will add all other deployments after monitoring builds for a couple of days

[2020-12-01 19:43] maurya commented on #491
Release notes documentation added to https://ocl-docs.readthedocs.io/en/latest/technical/releases.html.

Will review with team before closing the ticket

[2020-12-01 20:00] maurya commented on #310
I've added quotes to the messages still to be reviewed.

[2020-12-01 21:05] harpatel1 commented on #57
Here is what I've noticed:
https://api.qa2.aws.openconceptlab.org/orgs/PEPFAR/sources/DATIM-MOH-FY19/FY19.v0/export
https://api.qa2.aws.openconceptlab.org/orgs/PEPFAR/sources/DATIM-MOH-FY19/latest/export

Both urls redirects to s3 bucket file but running into **Access Denied** error.

[code]

[2020-12-02 17:03] #484 closed

[2020-12-02 18:00] paynejd commented on #388
Full draft of public 2021 OCL Roadmap is available here: https://docs.google.com/document/d/1E7-mzdjnokvoksMKnm_JR801H_5aFE8nMkanoI7QlDQ/edit#

This is now ready to be ported into the OCL wordpress site and shared for public comment.

As discussed, this presents milestones as planned during the first 6 months of 2021. We will fill in gaps over the coming weeks

[2020-12-02 18:31] paynejd commented on #408
**FHIR Concept Maps**
* Goal:
  * Support a common way to work with both internal & external mappings
  * Support mappings that point to specific source versions (FHIR)
  * Support for mappings that point to canonical URLs and that point to codes that are not defined in OCL (FHIR)
  * Maintain (and deprecate) current approach for internal/external mappings
* Requirements:
  * To create, POST:

[2020-12-02 20:12] harpatel1 opened #495 "Handle number of resources returned by FHIR endpoints"
We need to limit number of resources returned by FHIR endpoints and add a pagination support where make sense.

[2020-12-02 20:27] maurya commented on #310
Updated messages -

Collection -
REFERENCE_ALREADY_EXISTS = "Concept or mapping reference '{}' already exists."
DELETE_FAILURE = "Source '{}' could not be deleted due to a server error."

Mappings (**To be updated when we update mapping behavior.**) -
PERSIST_CLONE_ERROR = "Could not create concept version '{}' due to a server error."  #conceptVersionId
PERSIST_CLONE_SPECIFY_USER_ERROR = "Must spe

[2020-12-02 20:31] maurya commented on #310
To be reviewed by @snyaggarwal

[2020-12-03 14:43] harpatel1 commented on #492
There seems to be issue with FHIR service deployment in AWS. We need to do demo on locally running service. I think MER CodeSystem and Reference Indicators as ValueSets is a good option to present both CodeSystem/ValueSet resources.

[2020-12-03 21:06] paynejd opened #496 "Update TS maturity model"
https://docs.google.com/presentation/d/1rqRTzzSRKVujdt0NPFp75kgiK00r-PkR2DIezsXPfLU/edit#slide=id.g2502884cb7_0_18

This deck is the home of the TS maturity model -- it's pretty close, but not quite there. It might be good to add to the OCL cmty site somewhere and also to the OpenHIE TS wiki

[2020-12-07 14:26] #492 closed

[2020-12-07 14:47] maurya commented on #374
Configured all OCL project bamboo builds with `ocl_builds` slack channel

[2020-12-07 14:47] #374 closed

[2020-12-08 12:19] jamlung-ri commented on #480
Ideas and documentation can be found in the [notes of slide 5](https://docs.google.com/presentation/d/17MJ6qZ_LbdZv68GkEz_U3AS-QR2Fm_qwkCjOU6AuyvI/edit#slide=id.ga58a1ef761_0_6), along with some mockups elsewhere in the presentation.

[2020-12-08 12:20] jamlung-ri commented on #483
The code system list has been put together, so it should be reviewed by Joe and Jon.

[2020-12-08 15:16] #490 closed

[2020-12-08 15:18] #388 closed

[2020-12-08 18:09] harpatel1 commented on #445
I have verified fields for round 1.

[2020-12-08 18:20] harpatel1 opened #497 "FHIR - add unit tests for code system"

[2020-12-08 18:22] #495 closed

[2020-12-08 18:22] #486 closed

[2020-12-09 19:48] bmamlin commented on #414
CIEL v2020-11-30 was validated and successfully released on staging and production OCL environments on 8 Dec 2020. Andy expects to have another release to quickly follow, so we can leave this ticket open to track one more (imminent) Dec-2020 release.

[2020-12-10 13:14] jamlung-ri opened #498 "OCLweb2: Basic Customization Features"
Jon and I started to put together a list of basic customization features so managing users can personalize and brand an OCL organization a little bit more. This list can be found here: https://docs.google.com/document/d/1kW1riEJfi-9wQAe3Q0HtEj0HRajRw-AtDumswV0XXRY/edit

The Immediate Changes section contains ideas that can be immediately implemented, while the section below is still being worked o

[2020-12-10 14:10] jamlung-ri commented on #480
Some basic configuration related to branding has been defined in #498. This ticket can probably be closed.

[2020-12-10 14:37] #497 closed

[2020-12-10 14:38] harpatel1 opened #499 "FHIR - add unit tests for value sets"

[2020-12-10 19:45] paynejd opened #500 "Develop concept comparison view in oclweb2"
Given two concepts, compare core fields, mappings, and custom attributes side-by-side, highlighting fields with differences. Should be available as an "Action" when 2 concepts are selected. In the future, we may expand this approach to also compare 2 resources of any type (eg 2 source versions, 2 collections, 2 mappings)

Should there be a corresponding API-level comparison? Or should this all hap

[2020-12-11 13:00] paynejd commented on #408
These fields are always available regardless of the concepts/sources:
[code]

NOTE: The rules below use examples with only the `from_source` and `from_concept`, but the rules apply to both the `from` and `to` concepts and sources.

Rules:
1. If a version-less `from_concept_url` is provided, then OCL converts it to `from_source_url` and `from_concept_code`:
* Input:
[code]
* Validation:

* What is

[2020-12-11 14:48] paynejd commented on #408
When a mapping is created/updated, it should save what the user included in the body of the request with only some processing and normalization. For example, `from_concept_url` would be split into `from_source_url`, `from_concept_code` and possibly `from_source_version`.

It should also perform a lookup of the from/to sources and from/to concepts and save references to these objects if they are de

[2020-12-11 15:08] #499 closed

[2020-12-11 15:08] jamlung-ri opened #501 "Journey Map - Continue refining"

[2020-12-11 15:08] jamlung-ri commented on #485
Feedback has been mostly incorporated, but there is still continued work on them that needs to be done. Ticket #501 will contain this effort.

[2020-12-11 15:08] #485 closed

[2020-12-11 15:08] #491 closed

[2020-12-11 15:09] jamlung-ri commented on #450
Jon and I met with Paul to come up with visuals and concepts that will make this easier to digest for an audience. These visuals are being started in an internal workspace and will later be incorporated into the [TS role slide deck](https://docs.google.com/presentation/d/1r3J_JpUvS5r2ur5WgsMZwRw3yuhnKhsC_q_oT3QuqFs/edit).

[2020-12-11 15:10] aprilcurrier commented on #57
No longer happening.  Harsh to verify.

[2020-12-11 15:10] #445 closed

[2020-12-11 15:11] aprilcurrier commented on #210
Accepting large import. The remaining issues are deployment related.

[2020-12-11 15:11] #210 closed

[2020-12-11 15:12] aprilcurrier commented on #493
@snyaggarwal  any update here?

[2020-12-11 15:14] aprilcurrier commented on #483
Remaining work encompassed in L3 slidedeck work

[2020-12-11 15:14] #483 closed

[2020-12-11 15:15] aprilcurrier commented on #480
Tickets have been created for OCL branding

[2020-12-11 15:15] #480 closed

[2020-12-11 15:17] aprilcurrier commented on #488
Team to continue to review and  provide feedback

[2020-12-11 15:17] aprilcurrier commented on #408
75% complete upon rollover

[2020-12-11 15:19] paynejd opened #502 "Multi-thread bulk imports in oclapi2"
Code is in place to run bulk imports using multiple threads, but updates are needed (in environment config and oclapi2 code) to improve memory management.

[2020-12-11 15:20] aprilcurrier commented on #306
Jon to create additional follow up tickets. May become an Epic

[2020-12-11 15:20] #306 closed

[2020-12-11 15:20] aprilcurrier commented on #310
@snyaggarwal  any update here?

[2020-12-11 15:22] aprilcurrier commented on #437
This is part of fixing large bulk imports. rolling over

[2020-12-11 15:23] aprilcurrier commented on #465
Tim's schedule has changed anticipating more work in the next sprint rolling over

[2020-12-11 15:23] paynejd opened #503 "oclapi2 Testing for Launch"
Testing plan drafted; details in #306 -- plan is here:
https://docs.google.com/document/d/1HhuRlbGFU_-0bDq_vXocwwodMw4GqEunFcI79mdcOyA/edit#heading=h.unkpp7np1sq3

More tickets to be created under here

[2020-12-11 15:26] jamlung-ri opened #504 "TS Role in L3 - Finalize Presentation"
Following up from #450, finalize the [L3 slide deck](https://docs.google.com/presentation/d/1r3J_JpUvS5r2ur5WgsMZwRw3yuhnKhsC_q_oT3QuqFs/edit) and present to Data Exchange Community and others for feedback.

[2020-12-11 15:26] jamlung-ri commented on #450
Following up in ticket #504

[2020-12-11 15:26] #450 closed

[2020-12-11 15:32] aprilcurrier commented on #380
imported into Spinix needs further refinement. Maurya to define further refinement in next sprint. Rolling over.

[2020-12-11 15:33] aprilcurrier commented on #380
- [ ] Reach out to MSF team to see if they have a sample spreadsheet and instructions.

[2020-12-11 15:35] #487 closed

[2020-12-11 15:35] aprilcurrier commented on #487
Work continuing in another ticket #504

[2020-12-11 15:36] aprilcurrier commented on #412
The issues with bulk imports have taken priority. To be continued after that is resolved.

[2020-12-11 15:37] aprilcurrier commented on #422
Presentation of initial draft given to OCL community call week of Nov 30. Additional comments from the team needed to complete.

[2020-12-11 15:39] aprilcurrier commented on #434
Memory issues in QA have pushed out this timeline

[2020-12-11 15:40] aprilcurrier commented on #281
Still working on deciding the mapping model

[2020-12-11 16:51] snyaggarwal commented on #493
This is done. After testing we can close this

[2020-12-11 16:53] harpatel1 commented on #57
@rkorytkowski @snyaggarwal

I created sample data and tried to get export of source using `https://api.qa2.aws.openconceptlab.org/orgs/TestOrg/sources/source1/v1.0/export/` .

However, I am still receiving following error:

[code]

[2020-12-11 17:02] aprilcurrier commented on #493
Who is responsible for testing?

[2020-12-11 20:32] harpatel1 opened #505 "Add documentation for FHIR in oclfhir repo"
Tasks:

1. Document code system GET
2. Document code system operations $lookup and $validate-code
3. Document value set GET
4. Document value set operations $validate-code and $expand

[2020-12-11 20:39] #206 closed

[2020-12-11 20:40] #209 closed

[2020-12-11 20:41] aprilcurrier commented on #207
Progress made towards this all additional performance improvements to take place in V2 under separate tickets

[2020-12-11 20:41] #207 closed

[2020-12-11 20:46] #225 closed

[2020-12-11 20:46] #317 closed

[2020-12-11 20:50] #267 closed

[2020-12-14 03:51] maurya commented on #464
https://sphinx-themes.org/  Most sphinx themes are working in a similar  menu pattern. There are a few that are not following the pattern like - https://sphinx-themes.org/sample-sites/sphinx-bootstrap-theme/. But these don't feel intuitive to navigate.

One solution might be to get rid of Top level `Technical Documentation` header and have `OCL API` as the header as we are splitting the documentat

[2020-12-14 05:25] snyaggarwal commented on #57
This was caused due to lack of AWS configs with celery default service. I have added the env vars in terraform and deployed.
Tested this and its working fine now.
@harpatel1 You can verify this now. It should work fine now for new exports.

[2020-12-14 13:03] snyaggarwal commented on #493
@paynejd can you verify this and close.

[2020-12-14 13:04] snyaggarwal commented on #310
Haven't implemented this yet, moving in sprint backlog.

[2020-12-14 13:07] jamlung-ri opened #506 "DS Deliverable - Metadata Browser Technical Roadmap"
This will be a more detailed version of this list: https://docs.google.com/document/d/1OZxtAErdqUmUelNA2AsIwHgf8W6wfW3j-5J_qbsJtqE/edit#heading=h.9sa8l9cblz7

Technical Roadmap is being developed in this document: https://docs.google.com/document/d/1Q5jKjK2lcQte8UeyPCaKrFA1taSw7sNMcmCGqs_GtF8/edit

[2020-12-14 13:09] paynejd commented on #493
works as expected! closing out

[2020-12-14 13:09] #493 closed

[2020-12-14 13:14] jamlung-ri opened #507 "DS Deliverable - Software Development Progress Report"
One-pager to show what work has been done for OCL in the past 6ish months.

@jamlung-ri will do the OCL Web v2 Interface Update

@harpatel1 will be responsible for the FHIR TS section

@snyaggarwal will be responsible for the OCL API v2

Working document: https://docs.google.com/document/d/1zmCbI-2MeiTrIBlMRH1zRHjQEbiD-cUm-RWpZgT2wXs/edit

[2020-12-14 13:17] aprilcurrier opened #508 "Deliverable Submission DSMR DSD Q4 2020"
## Core OCL enhancements ##

- [ ] prepare a short report to support this deliverable. The focus will be on the v2 upgrades
Point to new repos w/ code and configurations, .20 commits, &New AWS environments

## FHIR ##

- [x] Harsh to work on Documentation in
- [ ] Also will send to code repo and QA2 site

## Metadata Browser ##

- [ ] Joe to create packaged slide decks or mockups and ideas - 10 -5

[2020-12-14 13:18] jamlung-ri opened #509 "DS Deliverable - Metadata Browser Package"
Single Slide Deck to package up ideas behind stage 1 and stage 2 Metadata Browser
- Adapt [deck presented to OCL architecture call](https://docs.google.com/presentation/d/17MJ6qZ_LbdZv68GkEz_U3AS-QR2Fm_qwkCjOU6AuyvI/edit) [JA]
- Description of how this fits into the OCL ecosystem: [JP]
    - As a component of the OCL architecture
    - As a part of the Metadata Clearinghouse
    - As a stand-alone

[2020-12-14 13:20] aprilcurrier commented on #481
@paynejd  to test

[2020-12-14 13:22] #481 closed

[2020-12-14 13:22] aprilcurrier commented on #420
@paynejd  working on moving this forward

[2020-12-14 13:31] aprilcurrier commented on #488
@harpatel1 @maurya  @bmamlin  to review and provide additional feedback

[2020-12-14 13:34] paynejd commented on #412
Drafting here:
https://docs.google.com/document/d/1Y2ahAGgZITA_f99fYYMuYFk_nmjWEyFb0Cbyt_pKxCE/edit#

[2020-12-14 13:36] aprilcurrier commented on #310
@snyaggarwal  to implement as time permits

[2020-12-14 13:40] jamlung-ri commented on #504
Associated with #508

[2020-12-14 15:33] aprilcurrier opened #510 "System Categorization Form - FISMA"
Link to form: https://docs.google.com/spreadsheets/d/17d7J-SBY7XwD0bGmhQO9W119xHtupRDi/edit#gid=570389155

[2020-12-14 20:39] harpatel1 opened #511 "FHIR - Fix search all resource"
Search all resources for a given resource type should return all most recent released versions. Currently FHIR service returns all latest versions but it may not be released version of a resource.

[2020-12-15 13:37] paynejd commented on #463
API for uploading/updating user, org, source, collection logos
New bulk import endpoints for direct file upload
Entirely refactored bulk import processing engine that bypasses the UI

[2020-12-15 15:36] paynejd commented on #408
Scenarios:
* Flexible from/to_source_urls can support OCL relative URL, canonical URL, and in the future other IDs (like OIDs)
* "typed" from/to_source_url and from/to_source_canonical_url

----

1. Normalize input fields to `from_source_url`, `from_source_version`, `from_concept_code`, and `from_concept_name` and `to_source_url`, `to_source_version`, `to_concept_code`, and `to_concept_name` -- th

[2020-12-16 11:43] snyaggarwal commented on #463
GET `/users/<str:username/?includeSubscribedOrgs=true`
will also include user's subscribed orgs in response.

[2020-12-16 18:31] harpatel1 commented on #505
Link to Doc - https://github.com/OpenConceptLab/oclfhir/wiki

[2020-12-16 20:00] #511 closed

[2020-12-16 20:00] #505 closed

[2020-12-17 10:01] snyaggarwal commented on #498
The only one left from Immediate changes is -- Editable About page for Org/Source/Collection (Markup)
Rest are done and deployed on qa2

[2020-12-17 13:16] paynejd opened #512 "Optimize ranking of search results"
The weighting of search results may need to be modified. 2 examples in global search:
“English” is an exact match for a preferred concept name, yet shows up low in the search results
“Eng” is an exact match for a concept ID, yet does not show up anywhere in the first page of results

How are results currently ranked and what options do we have for optoimizing?  Let's discuss on our upcoming archit

[2020-12-17 13:19] jamlung-ri commented on #498
Thanks Sunny! Looking really good! I do have one question about the Pin feature. When signed in as ocladmin and looking at its user page, I can see pinned orgs and sources, which is great. But when signed out and looking at the ocladmin user page, I don't see the pins that were pinned by ocladmin. @snyaggarwal is this behavior expected?

@paynejd Correct me if I'm wrong, but I think the intention

[2020-12-17 14:14] snyaggarwal commented on #498
Ya, that was the intent, but I messed up the permissions, and that's why the pins dint load.
Fixed, soon to be deployed.

[2020-12-17 17:22] snyaggarwal commented on #463
Description field added in Org. Currently its not searchable (just like Source/Collection)

[2020-12-17 17:45] snyaggarwal opened #513 "[OCLWEB2] 404/403/500 Generic Error Pages (or just handling)"
React Error Boundaries.
@paynejd oclweb v1 has an error message which is very generic "System encountered some error". We can make things more informative for the user, 404 and 500 can have their separate pages with some actions. React helps big in this way to setup umbrella handling for all components. So not much work. Any design in mind?

[2020-12-17 17:51] snyaggarwal commented on #498
@jamlung-ri @paynejd  -- _“About” page in an OCL org/source/collection can be changed to give a longer description of the resource using markup"_
Currently "about" is picked from `extras.about` will it going to be the same or should we add a new field `about` in source/collection/org? Or will it use the existing `description` field?

[2020-12-17 21:13] maurya opened #514 "Emails to info@openconceptlab.org are not delivering"
@paynejd is looking into this

[2020-12-17 21:16] maurya commented on #464
[done] Change occlapi wiki to OCL Overview

[done] Refactor Sidebar

[done] Add OCL FHIR
3 sections for each root - code system -get ,search, update, delete create,  value set (get ,search, update, delete create,), and concept map (get ,search, update, delete create,) sub headers,
Check for POSTman and .md or  sphinx integration
No direct integration
[done] Remove comments from JSON code block to

[2020-12-17 21:16] #464 closed

[2020-12-17 21:17] maurya commented on #380
Reached out to MSF team twice - no response.

@paynejd is going to talk with @bmamlin and Grace from OpenMRS to see if they have any update

[2020-12-17 21:19] maurya commented on #357
Completed this through the search bar and links in Metadata clearing house tab

[2020-12-17 21:19] #357 closed

[2020-12-18 14:59] paynejd opened #515 "Export list of OCL user accounts"
This will be our initial list in mailchimp. Include a few columns:
* email
* first name
* last name
* company
* location

[2020-12-21 12:27] snyaggarwal commented on #500
@paynejd Deployed on qa2. Ready for feedback.

[2020-12-24 12:35] snyaggarwal commented on #502
Performance metrics --
https://docs.google.com/document/d/1m9YYXRqEZyLcKueqqxa5OrwiNTKjmVNJEOxd8-kvCJw/edit?usp=sharing

[2020-12-29 04:54] snyaggarwal commented on #500
Added customization of fields for comparison, can include/exclude fields and order them for comparison

[2020-12-30 18:49] harpatel1 commented on #468
Already completed in #495

[2020-12-30 18:49] #468 closed

[2020-12-31 16:07] paynejd opened #516 "Requirements for round 2 of oclweb2 resource comparison"
* Save comparison configurations matching specific criteria
* Compare a concept's mappings
* Compare mappings

We want admins to be able to "save" multiple configurations for concept/mapping comparisons that meet certain rules (eg “concept_class=Diagnosis”) to meet our requirements for the Metadata Browser. If comparing two concepts from the same source, then the comparison tool should first check

[2020-12-31 17:38] #509 closed

[2020-12-31 17:39] #507 closed

[2020-12-31 17:40] aprilcurrier commented on #508
Submitted via email 12/13/20

[2020-12-31 17:40] #508 closed

[2021-01-04 14:03] jamlung-ri commented on #501
[TS Journey Maps](https://docs.google.com/presentation/d/11USGD0sfsnyfvNEJmmYEdoyoHm96YQXFfNZfHxayHUo/edit) have been updated. @paynejd and I need to review.

[2021-01-04 14:06] aprilcurrier commented on #489
No movement working to schedule meeting with Michelle rolling over

[2021-01-04 14:08] aprilcurrier commented on #437
Has been tested on local

[2021-01-04 14:08] #437 closed

[2021-01-04 14:08] harpatel1 commented on #275
20% complete on rollover.

[2021-01-04 14:08] #272 closed

[2021-01-04 14:08] maurya commented on #441
To test once. normal emails are functioning for. info@openconceptlab.org.
If still doesn't forward, reach out to Tim through Jamie.

[2021-01-04 14:11] #506 closed

[2021-01-04 14:13] aprilcurrier commented on #494
50% complete upon rollover

[2021-01-04 14:13] aprilcurrier commented on #465
Need to follow up later in the week

[2021-01-04 14:17] aprilcurrier commented on #380
Need to set up working time to work on in-house

[2021-01-04 14:17] kepishelf commented on #422
Consolidated all team comments. Harsh and Maurya were asked to review .
see comments in Draft document - https://docs.google.com/document/d/1xImweb9V39pSeOkKYd3i8JB_f0KNcw-V/edit

[2021-01-04 14:46] aprilcurrier opened #517 "Plan OCL Core Enhancements for 1st half of 2021"

[2021-01-04 15:14] snyaggarwal opened #518 "[OCLWEB2] Content Creation/Editing"

[2021-01-04 15:14] maurya opened #519 "Minor Documentation changes"
Everything under Technical Documentation to come under API  - Include Technical Documentation
Api Resources - API Reference
Overview of Resources - TBD
Ocl FHIR - OCL on FHIR
OCL OpenMRS -  OCL for OpenMRS
Add Links  to Github repos

[2021-01-04 15:16] maurya opened #520 "Organize the docs by reviewing references"
Review https://docs.github.com/en and https://openhim.readthedocs.io/en/latest/getting-started.html  and https://docs.readthedocs.io/en/stable/index.html organize the docs
Add a overview for documentation above tools

[2021-01-04 15:16] snyaggarwal commented on #518
@paynejd Any specific enhancements from v1 UI? I was thinking of using [drawers](https://material-ui.com/components/drawers/) for creation/editing

[2021-01-04 15:17] maurya opened #521 "See if documentatioon domain can be changed to docs.openconceptlab.org"

[2021-01-04 15:18] maurya opened #522 "Specification of the Input Format for Bulk Imports"
Specification of the Input Format for Bulk Imports
Create a JSON schema that is available for users to validate against
https://json-schema.org/
https://github.com/OpenConceptLab/ocldev/blob/master/ocldev/oclvalidator.py

[2021-01-04 15:20] maurya opened #523 "Update Github Links with "will be deprecated message""
Add the corresponding readthedocs link for that github page

[2021-01-04 15:22] jamlung-ri opened #524 "Configuration Interface for Orgs"
Create a place in the OCL Web Interface for configurers to access customization options for a user, organization, source, or collection page, likely using a Settings tab/button that contains input fields for configuration options.

An example mockup for the org config settings is available here: https://docs.google.com/presentation/d/1xdZvvgWAB8yem4xLWC5kMOouQHeFE_c3F4cR2uQBDXo/edit#slide=id.gb2d1

[2021-01-04 15:24] jamlung-ri opened #525 "Customized Attribute Display on Source and Collection Tabs and Pages"
Allow a configurer to change the attributes displayed in the source or collection table from an organization or user page, or the concepts or mappings table from a source or collection.

This can be done from the configuration page. There can be a default table layout until a user has configured the table to display differently.

Examples of this are available in slides 2-4 of this deck: https://d

[2021-01-04 15:26] paynejd commented on #463
#408 introduces major modifications to mapping model

[2021-01-04 15:27] snyaggarwal commented on #488
All the existing feedback for readonly portion in the [sheet](https://docs.google.com/document/d/16Ielv5lkuYcJZblPiLDcbi-2aU3NV3UXfpsWMyQcAzA/edit#) is done. Closing this.

[2021-01-04 15:27] #488 closed

[2021-01-04 15:29] jamlung-ri opened #526 "Sprint 1 - Metadata Browser Mockups and Ticket Management"
Prepare for ticket creation for Metadata Browser by mocking up future metadata browser features.

Mockups are primarily being done in this slide deck: https://docs.google.com/presentation/d/1xdZvvgWAB8yem4xLWC5kMOouQHeFE_c3F4cR2uQBDXo/edit

[2021-01-04 16:01] jamlung-ri opened #527 "comp"